/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	width: 100%;
	margin: 0 auto;
    padding: 0 2.1%;
}

.d-flex {
    display: flex;
    flex-direction: column;

}

/*Specification end*/

.s0-central {
    background: url('../img/MARS-v2-s0-central-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}

.s0-central-header {
    background: #000;
    font-size: 2.5vw;
    font-weight: 900;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 2vw 2.1vw;
}

.s0-central-header__txt-inner {
    display: flex;
}

.s0-central-header__item:first-of-type {
    margin-right: 10px;
}

.s0-central-qr {
    width: 9.5vw;
    height: 9.1vw;
    margin-left: 2.1vw;
    margin-top: 1.6vw;
    display: block;
}

.s0-central-logo {
    margin: 0 auto;
    display: block;
    width: 23vw;
    height: auto;
    margin-top: 2vw;
}

.s0-central-bottom-txt {
    font-size: 2.7vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 12.4vw;
}

@media (max-width: 1200px) { 
    .s0-central-qr {
        width: 12.5vw;
        height: auto;
    }

    .s0-central-logo {
        width: 38vw;
    }

    .s0-central-bottom-txt {
        margin-top: 18.4vw;
    }
}

@media (min-width: 1368px) and (max-width: 1450px) {
    .s0-central-logo {
        width: 28vw;
    }

    .s0-central-bottom-txt {
        margin-top: 17vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s0-central-logo {
        margin-top: -2vw;
    }

    .s0-central-bottom-txt {
        margin-top: 8vw;
    }

}

@media (min-width: 2000px) { 
    .s0-central-bottom-txt {
        margin-top: 12.4vw;
    }
    
    .s0-central-logo {
        display: block;
        margin-top: -5vw;
    }

    .s0-central-bottom-txt {
        margin-top: 7.4vw;
        font-size: 2vw;
    }
}


/* MARS-v2-s1-central */
.s1-central {
    background: url('../img/MARS-v2-s0-central-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s1-central-header {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0.3vw 0 3vw;
}

.s1-central-score {
    font-size: 4vw;
    margin-top: 1vw;
    display: flex;
}

.s1-central-info {
    border: 8px solid #FFFFFF;
    border-radius: 1.2vw;
    font-size: 1.25vw;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.4vw 0.8vw;
    line-height: 100%;
}

.s1-central-info__link {
    text-transform: none;
    margin-bottom: 4px;
    display: block;
}

.s1-central-game {
    margin: 0 auto;
    width: 69vw;
    text-align: center;
    background: rgba(77, 82, 85, 0.76);
    outline: 2vw solid rgba(225, 236, 239, 0.3);
    border-radius: 20vw;
    font-size: 1.95vw;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-top: 5vw;
    padding-top: 8.1vw;
    padding-bottom: 7.3vw;
}

.s1-central-game__title {
    font-size: 4.5vw;
    letter-spacing: 0.08em;
    margin-bottom: 1.1vw;
}

.s1-central-game__txt:first-of-type {
    margin-bottom: 2vw;
}

.s-central-footer {
    background: #000;
    padding: 0.6vw 0;
}

.s-central-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-central-footer__number {
    font-size: 1.3vw;
    font-weight: 700;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
}

.s-central-footer__txt {
    font-size: 1.7vw;
    margin-left: 0.5vw;
    margin-right: 0.7vw;
}

.s-central-footer__img {
    width: 63px;
    height: auto;
}

@media (max-width: 1200px) { 
    .s1-central-game {
        margin-top: 11vw;
    }

    .s1-central-info {
        border: 5px solid #FFFFFF;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
  
    .s1-central-game {
        padding-top: 4.1vw;
        padding-bottom: 4.3vw;
        margin-top: 3vw;
    }

}

@media (min-width: 2000px) { 
    .s1-central-score {
        font-size: 3vw;
    }

    .s1-central-game {
        padding-top: 2.1vw;
        padding-bottom: 2.3vw;
        width: 61vw;
    }

    .s1-central-game__txt:first-of-type {
        margin-bottom: 1vw;
    }
}

/* MARS-v2-s2-central */
.s2-central {
    background: url('../img/MARS-v2-s2-central-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s2-central-wrapper {
    display: flex;
    /* justify-content: space-between; */
}

.v2-central-time {
    margin-top: 4.25vw;
    margin-left: 2vw;
}

.v2-central-time__wrapper {
    display: flex;
    font-size: 4vw;
    line-height: 88%;
}

.v2-central-time__txt {
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.06em;
    font-weight: 700;
    margin-left: 0.5vw;
}

.s2-central-roster {
    margin-top: 4.5vw;
    margin-left: 1vw;
}

.s2-central-roster__item:not(:last-of-type) {
    margin-bottom: 0.4vw;
}

.s2-central-roster__item {
    display: flex;
    font-size: 1.26vw;
    align-items: center;
}

.s2-central-roster__number {
    font-size: 1vw;
    font-weight: 700;
    width: 1.4vw;
    height: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
    margin-right: 5px;
}

.s2-central-roster__shape {
    width: 1vw;
    height: 1.6vw;
    background: #fff;
    margin-left: 2vw;
}

.s2-central-rockets {
    position: relative;
    margin-left: 11vw;
}

.s2-central-rockets::after {
    content: '';
    width: 47.5vw;
    height: 2px;
    position: absolute;
    bottom: 3px;
    left: -8vw;
    right: 0;
    margin: 0 auto;
    background: #fff;
    opacity: 0.4;
}

.s2-central-rockets__wrapper {
    margin-top: -41px;
}

.s2-central-rockets__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6.5vw;
}

.s2-central-rockets__rocket {
    display: block;
    width: 3vw;
    height: auto;
    margin-right: 30px;
}

.s2-central-rockets__item:not(:last-of-type) {
    margin-bottom: 10vw;
}

.s2-central-rockets__arrow {
    width: 0.8vw;
    height: auto;
    margin-right: 8px;
}

.s2-central-rockets__animal {
    width: 5vw;
    height: auto;
}

.s2-central-rockets__planet {
    width: 32vw;
    height: auto;
    margin-top: -5px;
}

.s2-central-mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    padding-top: 5.5vw;
    padding-right: 6.6vw;
}

.s2-central-mission-title {
    font-weight: 700;
    font-size: 2.2vw;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.08em;
    margin-bottom: 2.2vw;
}

.s2-central-progress__percent {
    font-size: 3.1vw;
    text-shadow: 0px 0px 10px #FFFFFF;
    letter-spacing: 0.13em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.4vw;
}

.s2-central-progress__symb {
    font-size: 1.5vw;
    margin-left: 5px;
}

.s2-central-progress__line-inner {
    width: 13.2vw;
    height: 1.2vw;
    border-radius: 15vw;
    background: #000000;
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.s2-central-progress__line-overflow {
    overflow: hidden;
    width: 25%;  /* Change this if you need more progress */
    height: 100%;
    position: relative;
}

.s2-central-progress__line {
    width: 13.2vw;
    height: 100%;
    background: #fff;
    border-radius: 15vw;
    position: absolute;
}

.s2-central-progress__desc {
    font-size: 1.5vw;
    text-shadow: 0px 0px 10px #FFFFFF;
    letter-spacing: 0.13em;
    text-align: center;
    margin-top: 1vw;
}

.s2-central-total {
    color: #6DE62F;
    text-shadow: 0px 0px 10px #6DE62F;
    font-size: 1.65vw;
    letter-spacing: 0.08em;
    margin-top: 2.3vw;
}

.s2-central-total__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.8vw;
    background: rgba(0, 0, 0, 0.84);
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1.4vw;
    padding: 0 1vw 0 1.5vw;
}

.s2-central-total__sum {
    font-size: 4.2vw;
    letter-spacing: 0.13em;
}

.s2-central-total__desc {
    text-align: center;
    margin-top: 0.6vw;
}

.s2-central-bottom-animals {
    display: flex;
    margin-left: 0.8vw;
    margin-top: 1.6vw;
}

.s2-central-bottom-animals__item {
    width: 6.6vw;
    height: auto;
}

.s2-central-bottom-animals__item:not(:last-of-type) {
    margin-right: 22px;
}

@media (min-width: 1000px) and (max-width: 1900px) { 
    .s2-central-roster__number {
        font-size: 1.2vw;
        font-weight: 700;
        width: 2.4vw;
        height: 2.4vw;
    }
}

@media (max-width: 1200px) { 
    .s2-central-roster {
        margin-top: 10.5vw;
    }
    
    .s2-central-roster__item:not(:last-of-type) {
        margin-bottom: 1vw;
    }

    .s2-central-rockets {
        margin-left: 5vw;
        margin-top: 9vw;
    }

    .s2-central-rockets__item:not(:last-of-type) {
        margin-bottom: 12vw;
    }

    .s2-central-mission {
        padding-top: 10.5vw;
    }

    .s2-central-bottom-animals {
        margin-top: 3.6vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 

    .s2-central-rockets__item:not(:last-of-type) {
        margin-bottom: 6vw;
    }

    .s2-central-mission-title {
        margin-bottom: 1.2vw;
    }

    .s2-central-mission {
        padding-top: 2.5vw;
    }

    .s2-central-total {
        font-size: 1.5vw;
        margin-top: 2vw;
        font-size: 1.25vw;
    }

    .s2-central-total__sum {
        font-size: 3.3vw;
    }

    .s2-central-bottom-animals__item {
        width: 5.6vw;
    }
    

}

@media (min-width: 2000px) { 
    .s2-central-rockets__item:not(:last-of-type) {
        margin-bottom: 4vw;
    }

    .s2-central-mission {
        padding-top: 1.5vw;
    }

    .s2-central-mission-title {
        margin-bottom: 0.2vw;
    }

    .s2-central-progress__desc,
    .s2-central-total {
        font-size: 1.3vw;
    }

    .s2-central-total {
        margin-top: 1.3vw;
    }

    .s2-central-total__wrapper {
        width: 14.8vw;
    }

    .s2-central-total__sum {
        font-size: 3vw;
    }

    .s2-central-bottom-animals__item {
        width: 5.6vw;
    }
    
}

/* MARS-v2-s4-central-card1-gold */
.s4-central-card-1-bg {
    background: url('../img/MARS-v2-s4-central-card1-gold_bg.jpg') no-repeat center center/cover; 
}

.s4-central-card-1 {
    background: rgba(71, 31, 10, 0.69);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    height: 100vh;
    padding-top: 5vw;
}

.s4-centr-card-time {
    margin-left: 3vw;
}

.s4-centr-card-time__wrapper {
    display: flex;
    font-size: 4vw;
    line-height: 88%;
}

.s4-centr-card-time__txt {
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.06em;
    font-weight: 700;
    width: 7.5vw;
    text-align: center;
}

.s4-central-card-1-title {
    font-size: 5vw;
    letter-spacing: 0.08em;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.95);
    -webkit-text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.95);
    width: 70vw;
    margin: 0 auto;
    margin-top: -1.8vw;
    text-align: center;
    line-height: 98%;
}

.s4-central-card-1-players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.7vw;
}

.s4-central-card-1-players__item {
    width: 25vw;
    height: 5.5vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    display: flex;
    align-items: center;
    padding-left: 2vw;
    font-size: 2.85vw;
    font-weight: 500;
}

.s4-central-card-1-players__item:not(:last-of-type) {
    margin-bottom: 0.7vw;
}

.s4-central-card-1-players__leaf {
    width: 12vw;
    height: 12vw;
    background: url('../img/MARS-v2-s4-central-card1-gold_leaf.svg') no-repeat center center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    font-weight: 700;
    padding-top: 1.2vw;
    margin: 0 4vw;
}

.s4-central-card-1-winner {
    display: flex;
    justify-content: center;
    margin-left: -7vw;
    margin-top: 1.4vw;
}

.s4-central-card-1-winner__player__inner {
    font-size: 2vw;
    text-align: center;
    margin-left: 3vw;
    margin-right: 1vw;
    letter-spacing: 0.08em;
}

.s4-central-card-1-winner__animal {
    width: 15vw;
    height: auto;
    margin-top: 3vw;
}

.s4-central-card-1-winner__player {
    display: flex;
    align-items: center;
    font-size: 3.6vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.38);
    height: 5.5vw;
    font-weight: 500;
    width: 39vw;
    padding-left: 0.7vw;
    margin-top: 2.45vw;
    margin-bottom: 1.8vw;
    letter-spacing: 0.08em;
}

.s4-central-card-1-winner__number {
    font-size: 2.2vw;
    font-weight: 500;
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
    margin-right: 12px;
    letter-spacing: 0;
}

.s4-central-card-1-winner__medal {
    width: 11vw;
    height: 11vw;
}



@media (max-width: 1200px) { 
    .s4-central-card-1-players {
        margin-top: 10.7vw;
        margin-bottom: 10vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-central-card-1 {
        padding-top: 2vw;
    }

    .s4-central-card-1-title {
        margin: -2.8vw auto 0px;
    }

    .s4-central-card-1-players__item {
        height: 5vw;
        font-size: 2.35vw;
    }

    .s4-central-card-1-players__leaf {
        width: 10vw;
        height: 10vw;
        font-size: 3.5vw;
    }
    
}

@media (min-width: 2000px) { 
    .s4-central-card-1 {
        padding-top: 2vw;
    }

    .s4-central-card-1-title {
        margin-top: -3.8vw;
        font-size: 4vw;
    }
    
    .s4-central-card-1-players {
        margin-top: 1.7vw;
    }

    .s4-central-card-1-players__item {
        width: 24vw;
        height: 4.5vw;
        font-size: 2.25vw;
    }

    .s4-central-card-1-players__leaf {
        width: 10vw;
        height: 10vw;
        font-size: 3.5vw;
    }

    .s4-central-card-1-winner {
        margin-top: 2.2vw;
    }

    .s4-central-card-1-winner__player {
        font-size: 3vw;
        height: 4.5vw;
        width: 35vw;
    }

    .s4-central-card-1-winner__number {
        font-size: 2vw;
        font-weight: 500;
        width: 3.5vw;
        height: 3.5vw;
    }

    .s4-central-card-1-winner__player__inner {
        font-size: 1.4vw;
    }

}


/* MARS-v2-s4-central-card2 */
.s4-central-card-2 {
    height: 100vh;
    display: flex;
}

.s4-central-card-2-left-part {
    padding-top: 5vw;
    padding-left: 2vw;
}

.s4-centr-card-launch {
    width: 30vw;
    text-align: center;
    font-weight: 700;
    margin-top: 8.7vw;
    margin-left: 8vw;
}

.s4-centr-card-launch__info {
    width: 14.3vw;
    height: 2.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #582512;
    color: #fff;
    font-size: 1.5vw;
    border-radius: 20vw;
    font-weight: 500;
    letter-spacing: 0.08em;
}

.s4-centr-card-launch__number {
    margin-left: 0.5vw;
}

.s4-centr-card-launch__title {
    font-size: 5.2vw;
    line-height: 98%;
    margin-top: 1vw;
    margin-bottom: 0.65vw;
    letter-spacing: 0.05em;
}

.s4-centr-card-launch__desc {
    font-size: 2vw;
    width: 80%;
    margin: 0 auto;
    line-height: 138%;
    letter-spacing: 0.09em;
}

.s4-central-card-2-right-part {
    margin-left: auto;
    position: relative;
    padding-left: 10.8vw;
    width: 47%;
    overflow: hidden;
}

.s4-central-card-2-right-part__wrapper {
    padding-right: 2vw;
    padding-top: 8vw;
}

.s4-central-card-2-right-part__item {
    display: flex;
    align-items: center;
    width: 34.2vw;
    height: 4.2vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    padding: 0 1.4vw 0 0.7vw;
}

.s4-central-card-2-right-part__number {
    font-size: 1.4vw;
    font-weight: 500;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
    margin-right: 1.2vw;
    letter-spacing: 0;
}

.s4-central-card-2-right-part__txt {
    font-size: 2vw;
}

.s4-central-card-2-right-part__item-inner {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.s4-central-card-2-right-part__img-animal {
    width: 3.8vw;
    height: 3.8vw;
    margin-right: 0.5vw;
}

.s4-central-card-2-right-part__leaf {
    width: 3.4vw;
    height: 3.7vw;
    background: url('../img/MARS-v2-s4-central-card1-gold_leaf.svg') no-repeat center center/contain;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vw;
    font-weight: 700;
    padding-top: 0.2vw;
}

.s4-central-card-2-right-part__bg-blur {
    background: rgba(71, 31, 10, 0.59);
    position: absolute;
    top: 0;
    left: 18px;
    width: 200%;
    height: 200%;
    z-index: -1;
    backdrop-filter: blur(8px);
    transform: rotate(9.5deg);
}

@media (max-width: 1200px) { 
    .s4-centr-card-launch {
        margin-top: 15.7vw;
    }

    .s4-central-card-2-right-part {
        padding-left: 11.8vw;
    }

    .s4-central-card-2-right-part__wrapper {
        padding-right: 3vw;
        padding-top: 15vw;
    }
}

@media (min-width: 1450px) and (max-width: 1900px) { 
    .s4-centr-card-launch {
        margin-top: 3.7vw;
    }

    .s4-central-card-2-right-part__wrapper {
        padding-right: 2vw;
        padding-top: 4vw;
    }

    .s4-central-card-2-right-part__item {
        height: 3.9vw;
    }

    .s4-central-card-2-right-part__number {
        width: 2.7vw;
        height: 2.7vw;
    }
}

@media (min-width: 2000px) { 
    .s4-centr-card-launch {
        margin-top: 2.7vw;
    }

    .s4-central-card-2-right-part__wrapper {
        padding-right: 2vw;
        padding-top: 4vw;
    }

    .s4-central-card-2-right-part__item {
        height: 3.2vw; 
        padding: 0 1.1vw 0 0.4vw;
    }

    .s4-central-card-2-right-part__item:not(:last-of-type) {
        margin-bottom: 0.2vw;
    }

    .s4-central-card-2-right-part__number {
        width: 2.4vw;
        height: 2.4vw;
    }

    .s4-central-card-2-right-part__img-animal {
        width: 2.8vw;
        height: 2.8vw;
    }
    
}

/* MARS-v2-s4-central-card2-GUIDE2 */

.right-part-launches {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-part-launches__item {
    width: 14.8vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    border: 0.1vw solid #fff;
    text-transform: uppercase;
    margin-top: 3vw;
    margin-left: -4vw;
    letter-spacing: 0.08em;
}


/* MARS-v2-s4-central-card3 */
.s4-central-card-2-right-part_padding {
    padding-left: 9.6vw;
    margin-left: -3vw;
}

.s4-central-card-3-wrapper {
    display: flex;
    align-items: center;
    margin-top: 6.7vw;
    margin-left: 6.2vw;
}

.s4-central-card-3-right-part__item {
    display: flex;
    align-items: center;
    width: 27vw;
    height: 4.2vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    padding: 0 1.4vw 0 0.7vw;
}

.s4-centr-card-circle {
    width: 23.5vw;
    height: 23.5vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 700;
    outline: 1.9vw solid rgba(225, 236, 239, 0.15);
    padding-top: 1.6vw;
    backdrop-filter: blur(6px);
}

.s4-centr-card-circle__leaf {
    width: 8vw;
    height: 8vw;
    background: url(../img/MARS-v2-s4-central-card1-gold_leaf.svg) no-repeat center center/contain;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    padding-top: 0.6vw;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 1.1vw;
}

.s4-centr-card-circle__title {
    font-size: 2.6vw;
    letter-spacing: 0.08em;
    margin-bottom: 0.4vw;
}

.s4-centr-card-circle__subtitle {
    font-size: 1.8vw;
    letter-spacing: 0.08em;
    margin-bottom: 0.7vw;
}

.s4-centr-card-circle__percent {
    font-size: 3.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4-centr-card-circle__symb {
    font-size: 1.9vw;
    font-weight: 400;
    margin-left: 0.2vw;
}

.s4-centr-card-launch_margin {
    margin: 0;
    margin-left: 3vw;
}

.bg-blur_green {
    background: rgba(22, 71, 10, 0.59);
}

@media (max-width: 1200px) { 
    .s4-central-card-3-wrapper {
        margin-top: 11.7vw;
        margin-left: 4.2vw;
    }

    .s4-central-card-2-right-part_padding {
        padding-left: 12.6vw;
        margin-left: -4vw;
        width: 50%;
    }
    
}

@media (min-width: 2000px) { 
    .s4-central-card-3-wrapper {
        margin-top: 0vw;
    }

    .s4-centr-card-circle {
        width: 21.5vw;
        height: 21.5vw;
    }

    .s4-centr-card-circle__title {
        font-size: 2.2vw;
    }

    .s4-centr-card-circle__subtitle {
        font-size: 1.5vw;
        margin-bottom: 0vw;
    }

    .s4-central-card-3-right-part__item {
        height: 3.5vw;
    }
}

/* MARS-v2-s5-central-card1 */
.s4-central-card-1_padding {
    padding-top: 11vw;
    position: relative;
}

.s4-central-card-1-winner_margin {
    margin-left: 8vw;
}

.animal-1-absolute {
    position: absolute;
    width: 15vw;
    height: 12vw;
    object-fit: contain;
    top: 2vw;
    left: 6vw;
}

.animal-2-absolute {
    position: absolute;
    width: 9.8vw;
    height: 7vw;
    object-fit: contain;
    top: 15vw;
    left: 3vw;
}

.animal-3-absolute {
    position: absolute;
    width: 11.8vw;
    height: 7vw;
    object-fit: contain;
    top: 27vw;
    left: 3vw;
}

.animal-4-absolute {
    position: absolute;
    width: 14.8vw;
    height: 8vw;
    object-fit: contain;
    bottom: 11vw;
    left: 3vw;
}

.animal-5-absolute {
    position: absolute;
    width: 8.8vw;
    height: 8vw;
    object-fit: contain;
    bottom: 4vw;
    left: 19vw;
}

.animal-6-absolute {
    position: absolute;
    width: 10.8vw;
    height: 10vw;
    object-fit: contain;
    top: 4vw;
    right: 4vw;
}

.animal-7-absolute {
    position: absolute;
    width: 11.8vw;
    height: 13vw;
    object-fit: contain;
    top: 10vw;
    right: 11vw;
}

.animal-8-absolute {
    position: absolute;
    width: 6.2vw;
    height: 9vw;
    object-fit: contain;
    top: 22vw;
    right: 5vw;
}

.animal-9-absolute {
    position: absolute;
    width: 9.2vw;
    height: 9vw;
    object-fit: contain;
    bottom: 12vw;
    right: 4.4vw;
}

.animal-10-absolute {
    position: absolute;
    width: 8.2vw;
    height: 11vw;
    object-fit: contain;
    bottom: 3vw;
    right: 9.4vw;
}


@media (max-width: 1200px) { 

    .animal-2-absolute {
        top: 20vw;
    }

    .animal-3-absolute {
        top: 37vw;
    }

    .animal-4-absolute {
        bottom: 14vw;
    }

    .animal-7-absolute {
        top: 16vw;
    }

    .animal-8-absolute {
        top: 32vw;
    }

    .animal-9-absolute {
        bottom: 19vw;
    }

}

@media (min-width: 1450px) and (max-width: 1900px) {
    .s4-central-card-1_padding {
        padding-top: 9vw;
    }

    .animal-3-absolute {
        top: 38vw;
    }

    .animal-8-absolute {
        top: 18vw;
        right: 4vw;
    }

}

@media (min-width: 2000px) { 
    .animal-3-absolute {
        position: absolute;
        width: 11.8vw;
        height: 7vw;
        object-fit: contain;
        top: 33vw;
        left: 7vw;
    }

    .animal-8-absolute {
        position: absolute;
        width: 5.2vw;
        height: 8vw;
        object-fit: contain;
        top: 14vw;
        right: 3vw;
    }

}

/* MARS-v2-s5-central-card2 */
.s4-centr-card-launch_s5 {
    width: 33vw;
    text-align: center;
    font-weight: 700;
    margin-top: 14.7vw;
    margin-left: 0vw;
    position: absolute;
    left: 165px;
}

.s4-centr-card-launch__info_s5 {
    width: 10.3vw;
}

.s4-centr-card-launch__desc_s5 {
    font-size: 1.9vw;
}

.s4-central-card-2-right-part_s5 {
    width: 64%;
    padding-left: 8.8vw;
}

.s5-central-card-2-right-part__item {
    display: flex;
    align-items: center;
    width: 53.2vw;
    height: 4.2vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    padding: 0 1.4vw 0 0.7vw;
}

.s4-central-card-2-right-part__animal-wrapper {
    display: flex;
    width: 28vw;
}

.s5__img-animal {
    width: 3.8vw;
    height: 3.8vw;
}

@media (max-width: 1200px) { 
    .s4-centr-card-launch_s5 {
        margin-top: 20.7vw;
        left: 28px;
    }

    .s4-central-card-2-right-part_s5 {
        width: 71%;
        padding-left: 13.8vw;
    }
}

@media (min-width: 1200px) { 
    .s4-centr-card-launch_s5 {
        margin-top: 12.7vw;
        left: 25px;
    }

    .s4-central-card-2-right-part_s5 {
        width: 68%;
        padding-left: 10.8vw;
    }
}

@media (min-width: 2000px) { 
    .s4-centr-card-launch_s5 {
        margin-top: 5.7vw;
        left: 25px;
    }

    .s5-central-card-2-right-part__item {
        height: 3.4vw;
        padding: 0 1.4vw 0 0.5vw;
    }

    .s5__img-animal {
        width: 3.2vw;
        height: 3.2vw;
    }
}

/* MARS-v2-s5-central-card3 */
.s5-card-3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('../img/MARS-v2-s5-central-card3_bg.png') no-repeat center center/cover;
}

.s5-card-3-circle {
    width: 38.5vw;
    height: 38.5vw;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-weight: 700;
    outline: 2.9vw solid rgba(225, 236, 239, 0.15);
    padding-top: 1.6vw;
    backdrop-filter: blur(6px);
    margin-top: 1vw;
}

.s5-card-3-circle__leaf {
    width: 13vw;
    height: 14.5vw;
    background: url(../img/MARS-v2-s4-central-card1-gold_leaf.svg) no-repeat center center/contain;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5vw;
    padding-top: 1.2vw;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: 1.5vw;
}

.s5-card-3-circle__title {
    font-size: 4.4vw;
    letter-spacing: 0.08em;
}

.s5-card-3-circle__subtitle {
    font-size: 2vw;
    letter-spacing: 0.08em;
    margin-bottom: 2.4vw;
}

.s5-card-3-circle__percent {
    font-size: 5.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s5-card-3-circle__symb {
    font-size: 2.9vw;
    font-weight: 400;
    margin-left: 0.9vw;
}

.s5-animal-flex {
    border-radius: 50%;
    position: absolute;
    background: rgba(84, 171, 90, 0.44);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.s5-card-3-animal-1 {
    width: 12vw;
    height: 12vw;
    top: 2vw;
    left: 29vw;
}

.s5-card-3-animal-2 {
    width: 17vw;
    height: 17vw;
    top: 9.4vw;
    left: 12.2vw;
}

.s5-card-3-animal-3 {
    width: 13vw;
    height: 13vw;
    top: 26.4vw;
    left: 4.6vw;
    padding: 1.5vw;
}

.s5-card-3-animal-4 {
    width: 13vw;
    height: 13vw;
    top: 27.4vw;
    left: 19.6vw;
    padding: 2vw;
}

.s5-card-3-animal-5 {
    width: 10.5vw;
    height: 10.5vw;
    bottom: 5.4vw;
    left: 13.6vw;
}

.s5-card-3-animal-6 {
    width: 9.3vw;
    height: 9.3vw;
    top: 1.8vw;
    right: 35vw;
}

.s5-card-3-animal-7 {
    width: 12.7vw;
    height: 12.7vw;
    top: 7.8vw;
    right: 21.6vw;
}

.s5-card-3-animal-8 {
    width: 16.9vw;
    height: 16.9vw;
    top: 10.8vw;
    right: 2.6vw;
}

.s5-card-3-animal-9 {
    width: 16.9vw;
    height: 16.9vw;
    bottom: 13.8vw;
    right: 14.6vw;
}

.s5-card-3-animal-10 {
    width: 12.9vw;
    height: 12.9vw;
    bottom: 5vw;
    right: 3.6vw;
}

.s5-animal-flex__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1200px) { 
    .s5-card-3-animal-4 {
        top: 42.4vw;
    }

    .s5-card-3-animal-8 {
        width: 17.9vw;
        height: 17.9vw;
        top: 22.8vw;
        right: 2.6vw;
    }
    
}

@media (min-width: 1450px) and (max-width: 1900px) {
    .s5-card-3-circle {
        width: 33.5vw;
        height: 33.5vw;
    }

    .s5-card-3-circle__leaf {
        width: 11vw;
        height: 10.5vw;
        font-size: 4.5vw;
    }

    .s5-card-3-circle__title {
        font-size: 3.4vw;
        margin-bottom: 0.5vw;
    }

    .s5-card-3-circle__subtitle {
        margin-bottom: 1.4vw;
    }

    .s5-card-3-animal-1 {
        width: 10vw;
        height: 10vw;
    }

    .s5-card-3-animal-2 {
        width: 15vw;
        height: 15vw;
        top: 9.4vw;
        left: 17.2vw;
    }

    .s5-card-3-animal-3 {
        width: 11vw;
        height: 11vw;
        top: 25.4vw;
        left: 12.6vw;
    }

    .s5-card-3-animal-4 {
        width: 10vw;
        height: 10vw;
        top: 25.4vw;
        left: 24.6vw;
    }

    .s5-card-3-animal-5 {
        width: 8.5vw;
        height: 8.5vw;
        bottom: 2.4vw;
        left: 24.6vw;
    }

    .s5-card-3-animal-8 {
        width: 13.9vw;
        height: 13.9vw;
        top: 10.8vw;
        right: 6.6vw;
    }

    .s5-card-3-animal-9 {
        width: 14.9vw;
        height: 14.9vw;
        bottom: 10.8vw;
        right: 19.6vw;
    }
    
    .s5-card-3-animal-10 {
        width: 10.9vw;
        height: 10.9vw;
        bottom: 5vw;
        right: 9.6vw;
    }

}



@media (min-width: 2000px) { 
    .s5-card-3-circle {
        width: 30.5vw;
        height: 30.5vw;
    }

    .s5-card-3-circle__leaf {
        width: 10vw;
        height: 10.5vw;
        font-size: 3.5vw;
        margin-bottom: 0.5vw;
    }

    .s5-card-3-circle__title {
        font-size: 3.4vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .s5-card-3-circle__subtitle {
        margin-bottom: 0.4vw;
    }

    .s5-card-3-circle__percent {
        font-size: 4.9vw;
    }

    .s5-card-3-animal-1 {
        width: 9vw;
        height: 9vw;
        top: 2vw;
        left: 29vw;
    }

    .s5-card-3-animal-2 {
        width: 15vw;
        height: 15vw;
        top: 8.4vw;
        left: 18.2vw;
    }

    .s5-card-3-animal-3 {
        width: 10vw;
        height: 10vw;
        top: 24.4vw;
        left: 15.6vw;
    }

    .s5-card-3-animal-4 {
        width: 9vw;
        height: 9vw;
        top: 24.4vw;
        left: 28.6vw;
    }

    .s5-card-3-animal-5 {
        width: 7.5vw;
        height: 7.5vw;
        bottom: 1.4vw;
        left: 25.6vw;
    }

    .s5-card-3-animal-6 {
        width: 8.3vw;
        height: 8.3vw;
        top: 0.8vw;
        right: 35vw;
    }

    .s5-card-3-animal-8 {
        width: 13.9vw;
        height: 13.9vw;
        top: 10.8vw;
        right: 5.6vw;
    }

    .s5-card-3-animal-9 {
        width: 15.9vw;
        height: 15.9vw;
        bottom: 5.8vw;
        right: 18.6vw;
    }

    .s5-card-3-animal-10 {
        width: 9.9vw;
        height: 9.9vw;
        bottom: 2vw;
        right: 8.6vw;
    }
}






/* library */
.bg-red {
    background: #F41C45;
}

.bg-dark-blue {
    background: #2662FC;
}

.bg-green {
    background: #008A80;
}

.bg-yellow {
    background: #FD9F08;
}

.bg-dark-purple {
    background: #44217C;
}

.bg-light-green {
    background: #4CAF52;
}

.bg-orange {
    background: #FD4E04;
}

.bg-blue {
    background: #00B2FE;
}

.bg-dark-red {
    background: #B20944;
}

.bg-purple {
    background: #706FB5;
}

.item_no-bg {
    background: none;
}