@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	margin: 0 auto;
    padding: 0 5.1vw;
}

.d-flex {
    display: flex;
    flex-direction: column;

}

/*Specification end*/

/* MARS-v2-s0-device */
.v2-s0-device {
    width: 100%;
    height: 100vh;
    background: url('../img/MARS-v2-s0-device_bg.jpg') no-repeat center center/cover;
}

.v2-s0-device-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 3.1vw 0 0;
}

.v2-s0-device-header__team {
    font-size: 4.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vw;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    border-radius: 0 3vw 5vw 0;
}

.v2-s0-device-header__question {
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50%;
    font-weight: 500;
    font-size: 5.5vw;
}

.v2-s0-device-logo {
    margin: 0 auto;
    width: 58vw;
    height: auto;
    display: block;
    margin-top: 47vw;
}

.v2-s0-device-link {
    display: flex;
    width: 51vw;
    height: 12vw;
    background: #fff;
    color: #000;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 36vw;
    font-size: 5vw;
    border-radius: 20vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .v2-s0-device-logo {
        margin-top: 68vw;
    }

    .v2-s0-device-link {
        margin-top: 56vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-s0-device-header {
        padding: 2vw 2.35vw 0 0;
    }

    .v2-s0-device-header__team {
        font-size: 3.4vw;
        width: 18vw;
        height: 9vw;
        backdrop-filter: blur(6px);
        border-radius: 0 2vw 4vw 0;
    }

    .v2-s0-device-header__question {
        width: 8vw;
        height: 8vw;
        font-size: 4.5vw;
    }

    .v2-s0-device-logo {
        margin-top: 31vw;
    }

    .v2-s0-device-link {
        margin-top: 25vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .v2-s0-device-logo {
        margin-top: 47vw;
    }

    .v2-s0-device-link {
        margin-top: 42vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .v2-s0-device-logo {
        margin-top: 37vw;
    }

    .v2-s0-device-link {
        margin-top: 37vw;
    }
}

/* MARS-v2-s2a-device-cap */
.s2a-device-cap {
    width: 100%;
    height: 100vh;
    background: url('../img/MARS-v2-s2a-device-cap_bg.jpg') no-repeat center center/cover;
}

.s2a-device-cap-header {
    display: flex;
    align-items: center;
    padding: 5vw 2.35vw 0 0;
}

.s2a-device-cap-header__team {
    font-size: 4.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vw;
    background: rgba(115, 81, 5, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    border-radius: 0 3vw 5vw 0;
}

.s2a-device-cap-header__title {
    letter-spacing: -0.01em;
    font-size: 12.6vw;
    margin-left: 4vw;
    font-weight: 700;
    text-transform: uppercase;
}

.s2a-device-cap-header__question {
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(115, 81, 5, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    font-weight: 500;
    font-size: 5.5vw;
    margin-left: auto;
}

.s2a-device-cap-subhead {
    display: flex;
    margin-top: 3vw;
    align-items: flex-end;
    justify-content: space-between;
}

.s2a-device-cap-close__score {
    font-weight: 100;
    font-size: 9vw;
    line-height: 0.8em;
    margin-bottom: 1.3vw;
    text-align: center;
}

.s2a-device-cap-close__desc,
.s2a-device-cap-amount__desc {
    font-size: 2.9vw;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}

.s2a-device-cap-subhead-title {
    width: 38.5vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    font-size: 5.4vw;
    line-height: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.s2a-device-cap-subhead-title::before,
.s2a-device-cap-subhead-title::after {
    content: '';
    width: 1px;
    height: 5.2vw;
    margin-top: -3vw;
    display: block;
    background: #fff;
}

.s2a-device-cap-amount {
    width: 21vw;
}

.s2a-device-cap-amount__money {
    font-size: 11vw;
    display: flex;
    align-items: center;
    line-height: 0.8em;
    letter-spacing: 0.05em;
    color: #6DE62F;
    text-shadow: 0px 0px 5px #69E62F;
    margin-top: 1vw;
}

.s2a-device-cap-amount__symb {
    font-size: 5.5vw;
}

.s2a-device-cap-nomoney {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    margin-left: -7vw;
    height: 11vw;
}

.s2a-device-cap-nomoney__icon {
    width: 5vw;
    height: auto;
    margin-right: 2vw;
}

.s2a-device-cap-nomoney__txt {
    text-align: center;
    font-size: 3.7vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s2a-device-cap-nomoney__txt span {
    display: block;
}

.s2a-device-cap-list__item {
    display: flex;
    align-items: center;
    background: rgba(201, 187, 156, 0.52);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 21vw;
    border-radius: 3vw;
}

.s2a-device-cap-list__item {
    margin-bottom: 2vw;
}

.s2a-device-cap-list__name {
    width: 33vw;
    text-align: center;
    color: #E1ECEF;
    font-size: 5.2vw;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-transform: uppercase;
}

.s2a-device-cap-list__price {
    width: 25vw;
    height: 14vw;
    position: relative;
    background: rgba(41, 41, 41, 0.84);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2.2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12.5vw;
    letter-spacing: 0.13em;
    color: #6DE62F;
    text-shadow: 0px 0px 10px #69E62F;
    padding-right: 1vw;
}

.s2a-device-cap-list__sym {
    font-size: 4vw;
    position: absolute;
    left: 3vw;
    top: 5.2vw;
}

.s2a-device-cap-list__btn {
    margin-left: 3vw;
    width: 23vw;
    text-transform: uppercase;
    background: #fff;
    height: 5.2vh;
    border-radius: 20vw;
    color: #7D715A;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2a-device-cap-list__dollar {
    font-weight: 400;
    font-size: 3.4vw;
    margin-left: 2vw;
}

.s2a-device-cap-list__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.s2a-device-cap-list__btn-bottom {
    width: 23vw;
    text-transform: uppercase;
    background: #BB2323;
    height: 5.2vh;
    border-radius: 20vw;
    color: #fff;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    box-shadow: 0px 0px 10px #AE4646;
    text-shadow: 0px 0px 5px #FFFFFF;
}

.s2a-device-cap-list__btn-bottom_green {
    background: #53C11B;
    box-shadow: 0px 0px 10px #53C11B;
}

.s2a-device-cap-list__btn-bottom:first-of-type {
    margin-right: 4vw;
}

.s2a-device-cap-mission {
    margin-top: 6vw;
}

.s2a-device-cap-mission__title {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 0.06em;
    margin-bottom: 3vw;
}

.s2a-device-cap-mission__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2a-device-cap-mission__img-inner {
    width: 17vw;
    height: 17vw;
    position: relative;
}

.s2a-device-cap-mission__img-inner:last-of-type {
    width: 14.5vw;
    height: 14.9vw;
}

.s2a-device-cap-mission__img-item {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.s2a-device-cap-mission__line {
    width: 3vw;
    height: 0.26vw;
    background: #fff;
}

.s2a-device-cap-bot-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vw;
}

.s2a-device-cap-bot-team__number {
    font-size: 3vw;
    width: 5.2vw;
    height: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
}

.s2a-device-cap-bot-team__txt {
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    font-size: 4.5vw;
}

.s2a-device-cap-bot-team__img {
    width: 8vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-cap-subhead {
        margin-top: 8vw;
    }

    .s2a-device-cap-nomoney {
        height: 17vw;
    }

    .s2a-device-cap-mission {
        margin-top: 20vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-cap-header {
        padding: 2vw 2.35vw 0 0;
    }

    .s2a-device-cap-header__team {
        font-size: 3.4vw;
        width: 18vw;
        height: 9vw;
        backdrop-filter: blur(6px);
        border-radius: 0 2vw 4vw 0;
    }

    .s2a-device-cap-subhead {
        margin-top: 3vw;
    }

    .s2a-device-cap-header__title {
        font-size: 8.6vw;
        margin-left: 14vw;
    }

    .s2a-device-cap-header__question {
        width: 8vw;
        height: 8vw;
        font-size: 4.5vw;
    }

    .s2a-device-cap-close__score {
        font-size: 7.6vw;
    }

    .s2a-device-cap-subhead-title {
        width: 44.5vw;
        margin-left: 3vw;
        font-size: 5.0vw;
    }

    .s2a-device-cap-nomoney__icon {
        width: 3vw;
    }

    .s2a-device-cap-nomoney__txt {
        font-size: 2.3vw;
    }

    .s2a-device-cap-amount__money {
        font-size: 8vw;
        justify-content: flex-end;
    }

    .s2a-device-cap-nomoney {
        height: 11vw;
        margin-top: 0vw;
    }

    .s2a-device-cap-list__item {
        margin-bottom: 1vw;
        height: 13vw;
    }

    .s2a-device-cap-list__price {
        width: 25vw;
        height: 7vw;
        font-size: 6.5vw;
    }

    .s2a-device-cap-list__sym {
        top: 1.2vw;
    }

    .s2a-device-cap-mission {
        margin-top: 6vw;
    }

    .s2a-device-cap-list__btn-wrapper {
        margin-top: 4vw;
    }

    .s2a-device-cap-mission__img-inner {
        width: 15vw;
        height: 15vw;
    }

    .s2a-device-cap-mission__img-inner:last-of-type {
        width: 10.5vw;
        height: 10.9vw;
    }

    .s2a-device-cap-mission__title {
        margin-bottom: 3vw;
    }

    .s2a-device-cap-bot-team__number {
        font-size: 2.4vw;
        width: 4.2vw;
        height: 4.2vw;
    }

    .s2a-device-cap-bot-team__txt {
        font-size: 2.5vw;
    }

    .s2a-device-cap-bot-team__img {
        width: 6vw;
    }

}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-cap-subhead {
        margin-top: 2vw;
    }

    .s2a-device-cap-nomoney {
        margin-top: 0vw;
    }

    .s2a-device-cap-list__item {
        height: 18vw;
    }

    .s2a-device-cap-mission {
        margin-top: 10vw;
    }
}

/* MARS-v2-s2a-device-cappil */
.s2a-device-cap-header__title-inner {
    display: flex;
    font-size: 8vw;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}

.s2a-device-cap-header__title-one {
    margin-left: 2vw;
}

.s2a-device-cap-header__title-one_bg {
    width: 25vw;
    height: 12vw;
    background: #055873;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-left: 4vw;
}

.s2a-device-cap-list__btn-bottom_border {
    color: #78774E;
    border: 1px solid #78774E;
    background: none;
    box-shadow: 0px 0px 0px #ae4646;
    text-shadow: none;
}

.s2a-device-cap-mission__btn-none {
    position: absolute;
    bottom: -3vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6vw;
    height: auto;
    filter: drop-shadow(0px 0px 10px #AE4646);
}

.s2a-device-cap-mission__btn-none_bottom {
    bottom: -4vw;
}

.s2a-device-cap-mission__btn-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 767px) and (min-height: 1023px) {
    .s2a-device-cap-mission__btn-none_bottom {
        bottom: -5vw;
    }
}


/* MARS-v2-s2a-device-vet-popup */
.s2a-device-cap-vet {
    width: 100%;
    height: 100vh;
    background: url('../img/MARS-v2-s2a-device-vet-popup_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header__team_green,
.s2a-device-cap-header__question_green {
    background: rgba(29, 85, 20, 0.77);
}

.s2a-device-cap-header__title-wrapper_vet {
    margin: 0 auto;
    padding-left: 5vw;
}

.s2a-device-popup-contant {
    width: 64vw;
    height: 82vw;
    margin: 0 auto;
    margin-top: 2vw;
}

.s2a-device-popup-contant__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    background: rgba(152, 226, 140, 0.52);
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
    width: 64vw;
    height: 82vw;
    margin: 0 auto;
    padding-top: 5vw;
}

.s2a-device-popup-contant__name {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.s2a-device-popup-contant__img {
    width: 32vw;
    height: 32vw;
    object-fit: contain;
    margin-top: 2vw;
}

.s2a-device-popup-contant__character {
    display: flex;
    margin-top: 3vw;
    align-items: center;
}

.s2a-device-popup-contant__price {
    display: flex;
    align-items: center;
    font-size: 8vw;
    font-weight: 500;
}

.s2a-device-popup-contant__symb {
    font-size: 3.5vw;
    margin-right: 0.4vw;
}

.s2a-device-popup-contant__leaf {
    background: url('../img/white-leaf-1.svg') no-repeat center center/contain;
    width: 13vw;
    height: 13vw;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 5.6vw;
    padding-top: 0.7vw;
    padding-left: 0.8vw;
}

.s2a-device-popup-contant__circle {
    background: #fff;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5vw;
    padding-top: 0.3vw;
}

.s2a-device-popup-contant__btn-wrapper {
    display: flex;
    margin-top: 3vw;
}

.s2a-device-popup-white-btn {
    text-transform: uppercase;
    background: #fff;
    color: #318523;
    border-radius: 20vw;
    width: 23.5vw;
    height: 8.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
}

.s2a-device-popup-white-btn_no-bg {
    background: none;
    border: 0.6vw solid #fff;
    color: #fff;
    margin-right: 2.2vw;
}

.s2a-device-cap-bot-team_vet {
    margin-top: 4.5vw;
}

.s2a-device-cap-bot-team {
    margin-top: 3.1vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-cap-bot-team_vet {
        margin-top: 22.5vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-cap-header__title-wrapper_vet {
        padding-left: 0vw;
        margin-left: 10vw;
    }

    .s2a-device-popup-contant {
        height: 57vw;
    }

    .s2a-device-popup-contant__inner {
        height: 57vw;
        padding-top: 2vw;
    }

    .s2a-device-popup-contant__name {
        font-size: 6vw;
    }

    .s2a-device-popup-contant__img {
        width: 18vw;
        margin-top: 2vw;
        height: 18vw;
    }

    .s2a-device-popup-contant__character {
        margin-top: 2vw;
    }

    .s2a-device-popup-contant__btn-wrapper {
        margin-top: 2vw;
    }

    .s2a-device-cap-bot-team_vet {
        margin-top: 3vw;
    }

    .s2a-device-cap-bot-team {
        margin-top: 2vw;
    }

}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-popup-contant {
        height: 78vw;
    }

    .s2a-device-popup-contant__inner {
        height: 78vw;
        padding-top: 3vw;
    }

    .s2a-device-cap-bot-team_vet {
        margin-top: 5.5vw;
    }
    
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-popup-contant__img {
        width: 37vw;
        height: 37vw;
    }
}

/* MARS-v2-s2a-device-veteng */
.s2a-device-cap-header-veteng-title {
    display: flex;
    margin: 0 auto;
    font-size: 5.4vw;
    align-items: center;
}

.s2a-device-cap-header-veteng-title__item {
    text-transform: uppercase;
    font-weight: 700;
}

.s2a-device-cap-header-veteng-title__item_bg {
    background: rgba(108, 0, 0, 0.67);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(3px);
    width: 29vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-left: 1vw;
}

.s2a-device-slider {
    position: relative;
    height: 100%;
}

.s2a-device-slider__animal {
    height: 24vw;
    border-radius: 2vw;
    background: rgba(152, 226, 140, 0.52);
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
    padding-top: 4vw;
    padding-left: 5vw;
    position: relative;
}

.s2a-device-slider__animal:not(:last-child) {
    margin-bottom: 2vw;
}

.s2a-device-slider__animal-name {
    font-size: 6.7vw;
    line-height: 1em;
    font-weight: 500;
}

.s2a-device-slider__animal-price {
    display: flex;
    width: 37vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    position: relative;
}

.s2a-device-slider__total {
    font-size: 6vw;
    display: flex;
    align-items: center;
}

.s2a-device-slider__sym {
    margin-right: 2vw;
    font-size: 3.5vw;
}

.s2a-device-slider__animal-img {
    position: absolute;
    top: 4vw;
    right: 3vw;
}

.s2a-device-slider__animal-img-relative {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    /* border: 1px solid #E1ECEF; */
    position: relative;
}

.s2a-device-slider__animal-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s2a-device-slider__circle {
    position: absolute;
    top: -1vw;
    right: 0;
    background: #fff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5vw;
    padding-top: 0vw;
}

.s2a-device-slider__leaf {
    position: absolute;
    bottom: -1vw;
    right: -5vw;
    background: url('../img/white-leaf-1.svg') no-repeat center center/contain;
    width: 9vw;
    height: 9vw;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 0.55vw;
    padding-left: 0.8vw;
}

.s2a-device-slider__btn-left {
    position: absolute;
    left: -12vw;
    width: 8vw;
    top: 30vw;
}

.s2a-device-slider__btn-right {
    position: absolute;
    right: -12vw;
    width: 8vw;
    top: 30vw;
}

.s2a-device-slider__img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.s2a-device-slider__pag {
    display: flex;
    width: 9vw;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4vw;
}

.s2a-device-slider__pag-item {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: block;
    background: #C4C4C4;
    opacity: .5;
}

.s2a-device-slider__pag-item_active {
    background: #fff !important;
    opacity: 1 !important;
}

.s2a-device-cap-bot-team_veteng {
    margin-top: 6.6vw;
}

.s2a-device-cap-mission__btn-none_shadow {
    filter: none;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-cap-bot-team_veteng {
        margin-top: 24.6vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-slider__animal {
        height: 16vw;
        padding-top: 2vw;
        padding-left: 4vw;
    }

    .s2a-device-slider__animal-name {
        font-size: 4.7vw;
    }

    .s2a-device-slider__total {
        font-size: 5vw;
    }

    .s2a-device-popup-white-btn {
        height: 6.4vw;
    }

    .s2a-device-slider__animal-img-relative {
        width: 13vw;
        height: 13vw;
    }

    .s2a-device-slider__animal-img {
        top: 1.5vw;
    }

    .s2a-device-slider__circle {
        width: 5vw;
        height: 5vw;
        font-size: 2.5vw;
    }

    .s2a-device-slider__leaf {
        width: 7vw;
        height: 7vw;
        font-size: 2.8vw;
    }

    .s2a-device-slider__btn-right,
    .s2a-device-slider__btn-left {
        top: 18vw;
    }

    .s2a-device-slider__pag {
        margin-top: 2vw;
    }

    .s2a-device-cap-bot-team_veteng {
        margin-top: 2vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-cap-bot-team_veteng {
        margin-top: 7.6vw;
    }
}

/* MARS-v2-s2a-device-pil-popup */
.s2a-device-cap-pil {
    width: 100%;
    height: 100vh;
    background: url('../img/MARS-v2-s2a-device-pil-popup_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header__team_blue,
.s2a-device-cap-header__question_blue {
    background: rgba(5, 88, 115, 0.46);
}

.s2a-device-popup-contant__inner_blue {
    background: rgba(31, 199, 252, 0.52);
}

.s2a-device-cap-header__title-wrapper_pill {
    margin: 0 auto;
}

.s2a-device-popup-contant__leaf_drop {
    background: url('../img/white-drop.svg') no-repeat center center/contain;
    width: 9vw;
    padding-top: 3vw;
    padding-right: 0.5vw;
    color: #0E6EA7;
}

.pill-txt-color {
    color: #0E6EA7;
}

/* MARS-v2-s2a-device-pilcap */
.s2a-device-cap-header-veteng-title_font {
    font-size: 8vw;
}

.s2a-device-cap-header-veteng-title__item_bg-pil {
    width: 37vw;
    height: 12vw;
    background: #735105;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-right: 2vw;
}

.s2a-device-slider__animal_blue {
    background: rgba(31, 199, 252, 0.44);
}

.s2a-device-slider__icon-arrow {
    position: absolute;
    width: 2.5vw;
    height: auto;
    object-fit: contain;
    left: -3vw;
}

.s2a-device-slider__rocket-img-relative {
    width: 17vw;
    height: 22vw;
    border-radius: 50%;
    position: relative;
}

.s2a-device-slider__rocket-img {
    position: absolute;
    top: 2vw;
    right: 3vw;
}

.s2a-device-slider__circle-blue{
    position: absolute;
    top: 2vw;
    right: 0;
    background: #fff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    color: #136EA2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5vw;
    padding-top: 0vw;
}

.s2a-device-slider__drop {
    position: absolute;
    bottom: 3vw;
    right: -4vw;
    background: url(../img/white-drop.svg) no-repeat center center/contain;
    width: 7vw;
    height: 8vw;
    color: #136EA2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 1.55vw;
}

@media (min-width: 767px) and (min-height: 1023px) {
    .s2a-device-slider__rocket-img-relative {
        height: 14vw;
    }

    .s2a-device-slider__circle-blue {
        top: -1vw;
    }

    .s2a-device-slider__drop {
        bottom: 1vw;
    }
}

/* MARS-v2-s2a-device-engvet */
.s2a-device-engvet {
    width: 100%;
    height: 100vh;
    background: url('../img/MARS-v2-s2a-device-engvet_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header-veteng-title__item_bg-engvet {
    width: 19vw;
    height: 12vw;
    background: rgba(29, 85, 20, 0.77);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-right: 2vw;
}

.s2a-device-popup-contant_width {
    width: 92%;
}

.s2a-device-popup-barrel {
    display: flex;
    justify-content: space-between;
}

.s2a-device-popup-barrel__item {
    background: rgba(211, 93, 93, 0.52);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    width: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82vw;
    border-radius: 3vw;
}

.s2a-device-popup-barrel__title {
    text-align: center;
    margin-top: 4vw;
    font-size: 6vw;
    letter-spacing: 0.08em;
    margin-bottom: 2vw;
}

.s2a-device-popup-barrel__block {
    display: block;
}

.s2a-device-popup-barrel__img-inner {
    width: 31vw;
    position: relative;
}

.s2a-device-popup-barrel__barrel-txt {
    position: absolute;
    left: 0;
    margin: 0 auto;
    text-align: center;
    right: 0;
    top: 17vw;
    font-weight: 700;
    font-size: 9vw;
}

.s2a-device-popup-barrel__img {
    width: 100%;
    object-fit: contain;
}

.s2a-device-popup-barrel__btn {
    background: #fff;
    color: #853535;
    margin-top: 1.8vw;
    width: 28vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25vw;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
}

.s2a-device-popup-barrel__sym {
    font-size: 3.2vw;
    letter-spacing: 400;
    margin-left: 1vw;
}

.s2a-device-popup-barrel__drop {
    background: url('../img/brown-drop_2.svg') no-repeat center center/contain;
    width: 7vw;
    height: 8vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 1.55vw;
    margin-top: -2vw;
    margin-left: 1vw;
}

.s2a-device-popup-barrel__txt {
    font-size: 3vw;
    margin-top: 3vw;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-popup-barrel__title {
        margin-top: 3vw;
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .s2a-device-popup-barrel__item {
        height: 56vw;
    }

    .s2a-device-popup-barrel__barrel-txt {
        top: 9vw;
        font-size: 4vw;
    }

    .s2a-device-popup-barrel__img-inner {
        width: 16vw;
    }

    .s2a-device-popup-barrel__btn {
        height: 8vw;
        font-size: 3.4vw;
    }

    .s2a-device-popup-barrel__drop {
        width: 6vw;
        height: 7vw;
        font-size: 3.8vw;
        padding-top: 1.15vw;
        margin-top: -1vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-popup-barrel__item {
        height: 78vw;
    }

    .s2a-device-popup-barrel__img-inner {
        width: 29vw;
    }

    .s2a-device-popup-barrel__barrel-txt {
        top: 15vw;
    }
}
