@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Specification start*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fff;
    background: #000;
}

* {
	box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
    color: inherit;
}

input:focus, button:focus { 
	outline: none 
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
}

input{
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	margin: 0 auto;
    padding: 0 5.1vw;
}

.d-flex {
    display: flex;
    flex-direction: column;

}

/*Specification end*/

/* MARS-v2-s0-device */
.v2-s0-device {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: url('../img/MARS-v2-s0-device_bg.jpg') no-repeat center center/cover;
}

.v2-s0-device-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 3.1vw 0 0;
}

.v2-s0-device-header__team {
    font-size: 4.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vw;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    border-radius: 0 3vw 5vw 0;
}

.v2-s0-device-header__question {
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50%;
    font-weight: 500;
    font-size: 5.5vw;
}

.v2-s0-device-logo {
    margin: 0 auto;
    width: 58vw;
    /* height: auto; */
    display: block;
    margin-top: 47vw;
}

.v2-s0-device-link {
    display: flex;
    width: 51vw;
    height: 12vw;
    background: #fff;
    color: #000;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 36vw;
    font-size: 5vw;
    border-radius: 20vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .v2-s0-device-logo {
        margin-top: 68vw;
    }

    .v2-s0-device-link {
        margin-top: 56vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-s0-device-header {
        padding: 2vw 2.35vw 0 0;
    }

    .v2-s0-device-header__team {
        font-size: 3.4vw;
        width: 18vw;
        height: 9vw;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 0 2vw 4vw 0;
    }

    .v2-s0-device-header__question {
        width: 8vw;
        height: 8vw;
        font-size: 4.5vw;
    }

    .v2-s0-device-logo {
        margin-top: 31vw;
    }

    .v2-s0-device-link {
        margin-top: 25vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .v2-s0-device-logo {
        margin-top: 47vw;
    }

    .v2-s0-device-link {
        margin-top: 42vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .v2-s0-device-logo {
        margin-top: 37vw;
    }

    .v2-s0-device-link {
        margin-top: 37vw;
    }
}

/* MARS-v2-s2a-device-cap */
.s2a-device-cap {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: url('../img/MARS-v2-s2a-device-cap_bg.jpg') no-repeat center center/cover;
}

.s2a-device-cap-header {
    display: flex;
    align-items: center;
    padding: 6vw 2.35vw 0 0;
    position: relative;
}

.s2a-device-cap-header__title-wrapper {
    position: absolute;
    left: 22px;
    right: 0;
    margin: 0 auto;
    /* width: 65vw; */
    width: 60vw;
}

.s2a-device-cap-header__team {
    font-size: 4.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vw;
    background: rgba(115, 81, 5, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    border-radius: 0 3vw 5vw 0;
}

.s2a-device-cap-header__title {
    letter-spacing: -0.01em;
    font-size: 12.6vw;
    /* margin-left: 4vw; */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s2a-device-cap-header__title-big {
    margin: 0 auto;
}

.s2a-device-cap-header__question {
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(115, 81, 5, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 50%;
    font-weight: 500;
    font-size: 5.5vw;
    margin-left: auto;
}

.s2a-device-cap-subhead {
    display: flex;
    margin-top: 3vw;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.s2a-device-cap-close__score {
    font-weight: 100;
    font-size: 9vw;
    line-height: 0.8em;
    margin-bottom: 1.3vw;
    text-align: center;
}

.s2a-device-cap-close__desc,
.s2a-device-cap-amount__desc {
    font-size: 2.9vw;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}

.s2a-device-cap-subhead-title {
    width: 38.5vw;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    font-size: 5.4vw;
    line-height: 1.1em;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin: 0 auto;
}

.s2a-device-cap-subhead-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40vw;
}

.s2a-device-cap-subhead-title-wrapper__line {
    width: 1px;
    height: 5.2vw;
    margin-top: -3vw;
    display: block;
    background: #fff;
}
/* 
.s2a-device-cap-subhead-title::before,
.s2a-device-cap-subhead-title::after {
    content: '';
    width: 1px;
    height: 5.2vw;
    margin-top: -3vw;
    display: block;
    background: #fff;
} */

.s2a-device-cap-amount {
    width: 21vw;
}

.s2a-device-cap-amount__money {
    font-size: 11vw;
    display: flex;
    align-items: center;
    line-height: 0.8em;
    letter-spacing: 0.05em;
    color: #6DE62F;
    text-shadow: 0px 0px 5px #69E62F;
    margin-top: 1vw;
    justify-content: flex-end;
}

.s2a-device-cap-amount__symb {
    font-size: 5.5vw;
}

.s2a-device-cap-amount .s2a-device-cap-amount__desc {
    margin-left: 4vw;
}

.s2a-device-cap-nomoney {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 3vw;
    height: 11vw;
    margin-bottom: 1vw;
}

.s2a-device-cap-nomoney__icon {
    width: 5vw;
    /* height: auto; */
    margin-right: 2vw;
}

.s2a-device-cap-nomoney__txt {
    text-align: center;
    font-size: 3.7vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s2a-device-cap-nomoney__txt span {
    display: block;
}

.s2a-device-cap-list__item {
    display: flex;
    align-items: center;
    background: rgba(201, 187, 156, 0.52);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    height: 21vw;
    border-radius: 3vw;
}

.s2a-device-cap-list__item {
    margin-bottom: 2vw;
}

.s2a-device-cap-list__name {
    width: 33vw;
    text-align: center;
    color: #E1ECEF;
    font-size: 5.2vw;
    letter-spacing: 0.04em;
    font-weight: 700;
    text-transform: uppercase;
}

.s2a-device-cap-list__price {
    width: 25vw;
    height: 14vw;
    position: relative;
    background: rgba(41, 41, 41, 0.84);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2.2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12.5vw;
    letter-spacing: 0.13em;
    color: #6DE62F;
    text-shadow: 0px 0px 10px #69E62F;
    padding-right: 1vw;
}

.s2a-device-cap-list__sym {
    font-size: 4vw;
    position: absolute;
    left: 3vw;
    top: 5.2vw;
}

.s2a-device-cap-list__btn {
    margin-left: 3vw;
    width: 23vw;
    text-transform: uppercase;
    background: #fff;
    height: 5.2vh;
    border-radius: 20vw;
    color: #7D715A;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2a-device-cap-list__dollar {
    font-weight: 400;
    font-size: 3.4vw;
    margin-left: 2vw;
}

.s2a-device-cap-list__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

.s2a-device-cap-list__btn-bottom {
    width: 23vw;
    text-transform: uppercase;
    background: #BB2323;
    height: 5.2vh;
    border-radius: 20vw;
    color: #fff;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    box-shadow: 0px 0px 10px #AE4646;
    text-shadow: 0px 0px 5px #FFFFFF;
}

.s2a-device-cap-list__btn-bottom_green {
    background: #53C11B;
    box-shadow: 0px 0px 10px #53C11B;
}

.s2a-device-cap-list__btn-bottom:first-of-type {
    margin-right: 4vw;
}

.s2a-device-cap-mission {
    margin-top: 6vw;
}

.s2a-device-cap-mission__title {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 0.06em;
    margin-bottom: 3vw;
}

.s2a-device-cap-mission__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2a-device-cap-mission__img-inner {
    width: 18vw;
    height: 18vw;
    position: relative;
    border-radius: 50%;
    /* border: 0.5vw solid #E1ECEF; */
}

.s2a-device-cap-mission__img-frame {
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    border: 0.5vw solid #E1ECEF; 
}

.s2a-device-cap-mission__img-inner_nocircle {
    width: 15vw;
    height: 15.9vw;
    position: relative;
}

.s2a-device-cap-mission__img-inner_nocircle img {
    border-radius: 0%;
}

.s2a-device-cap-mission__barrel-txt {
    font-size: 4vw;
    color: #000;
    position: absolute;
    font-weight: 500;
    width: 100%;
    text-align: center;
    top: 6vw;
}

.s2a-device-cap-mission__img-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.cap-mission__img-inner_red {
    background: #BB2323;
}

.s2a-device-cap-mission__line {
    width: 3vw;
    height: 0.36vw;
    background: #fff;
}

.s2a-device-cap-bot-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5vw;
}

.s2a-device-cap-bot-team__number {
    font-size: 3vw;
    width: 5.2vw;
    height: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
}

.s2a-device-cap-bot-team__txt {
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    font-size: 4.5vw;
}

.s2a-device-cap-bot-team__img {
    width: 8vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-cap-subhead {
        margin-top: 8vw;
    }

    .s2a-device-cap-nomoney {
        height: 17vw;
    }

    /* .s2a-device-cap-mission {
        margin-top: 20vw;
    } */

    .s2a-device-cap-mission {
        margin-top: 10vw;
    }

    .s2a-device-cap-list__item {
        height: 27vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-cap-header {
        padding: 4vw 2.35vw 0 0;
    }

    .s2a-device-cap-header__team {
        font-size: 3.4vw;
        width: 18vw;
        height: 9vw;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border-radius: 0 2vw 4vw 0;
    }

    .s2a-device-cap-subhead {
        margin-top: 3vw;
    }

    .s2a-device-cap-header__question {
        width: 8vw;
        height: 8vw;
        font-size: 4.5vw;
    }

    .s2a-device-cap-close__score {
        font-size: 7.6vw;
    }

    .s2a-device-cap-subhead-title {
        width: 44.5vw;
        margin-left: 3vw;
        font-size: 5.0vw;
    }

    .s2a-device-cap-nomoney__icon {
        width: 3vw;
    }

    .s2a-device-cap-nomoney__txt {
        font-size: 2.3vw;
    }

    .s2a-device-cap-amount__money {
        font-size: 8vw;
        justify-content: flex-end;
    }

    .s2a-device-cap-nomoney {
        height: 11vw;
        margin-top: 0vw;
    }

    .s2a-device-cap-list__item {
        margin-bottom: 1vw;
        height: 13vw;
    }

    .s2a-device-cap-list__price {
        width: 25vw;
        height: 7vw;
        font-size: 6.5vw;
    }

    .s2a-device-cap-list__sym {
        top: 1.2vw;
    }

    .s2a-device-cap-mission {
        margin-top: 9vw;
    }

    .s2a-device-cap-list__btn-wrapper {
        margin-top: 4vw;
    }

    .s2a-device-cap-mission__img-inner,
    .s2a-device-cap-mission__img-frame {
        width: 15vw;
        height: 15vw;
    }

    /* .s2a-device-cap-mission__img-inner:last-of-type {
        width: 10.5vw;
        height: 10.9vw;
    } */

    .s2a-device-cap-mission__img-inner_nocircle {
        width: 12.3vw;
        height: 12.9vw;
        position: relative;
    }

    .s2a-device-cap-mission__title {
        margin-bottom: 3vw;
    }

    .s2a-device-cap-bot-team__number {
        font-size: 2.4vw;
        width: 4.2vw;
        height: 4.2vw;
    }

    .s2a-device-cap-bot-team__txt {
        font-size: 2.5vw;
    }

    .s2a-device-cap-bot-team__img {
        width: 6vw;
    }

}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-cap-subhead {
        margin-top: 2vw;
    }

    .s2a-device-cap-nomoney {
        margin-top: 0vw;
    }

    .s2a-device-cap-list__item {
        height: 18vw;
    }

    .s2a-device-cap-mission {
        margin-top: 12vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-cap-list__item {
        height: 21vw;
    }

    .s2a-device-cap-mission {
        margin-top: 7vw;
    }
}

/* MARS-v2-s2a-device-cappil */
.s2a-device-cap-header__title-inner {
    display: flex;
    font-size: 8vw;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}

.s2a-device-cap-header__title-one {
    /* margin-left: 2vw; */
    display: flex;
    font-size: 8vw;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.s2a-device-cap-header__title-one_bg {
    /* width: 25vw; */
    height: 12vw;
    background: #055873;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 2vw;
    /* margin-left: 4vw; */
}

.s2a-device-cap-list__btn-bottom_border {
    color: #78774E;
    border: 1px solid #78774E;
    background: none;
    box-shadow: 0px 0px 0px #ae4646;
    text-shadow: none;
}

.s2a-device-cap-mission__btn-none {
    position: absolute;
    bottom: -3vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6vw;
    /* height: auto; */
    filter: drop-shadow(0px 0px 10px #AE4646);
    z-index: 2;
}

.s2a-device-cap-mission__btn-none_bottom {
    bottom: -4vw;
}

.s2a-device-cap-mission__btn-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 767px) and (min-height: 1023px) {
    .s2a-device-cap-mission__btn-none_bottom {
        bottom: -4vw;
    }

    .s2a-device-cap-header__title-one {
        font-size: 6vw;
        height: 9vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) {
    .s2a-device-cap-header {
        margin-bottom: 5vw;
    }

    .s2a-device-cap-mission__imgs {
        margin-bottom: 3vw;
    }
}



/* MARS-v2-s2a-device-vet-popup */
.s2a-device-cap-vet {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: url('../img/MARS-v2-s2a-device-vet-popup_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header__team_green,
.s2a-device-cap-header__question_green {
    background: rgba(29, 85, 20, 0.77);
}

.s2a-device-cap-header__title-wrapper_vet {
    margin: 0 auto;
    padding-left: 5vw;
}

.s2a-device-popup-contant {
    width: 64vw;
    height: 82vw;
    margin: 0 auto;
    margin-top: 2vw;
}

.s2a-device-popup-contant__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    background: rgba(152, 226, 140, 0.52);
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 50%);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    width: 64vw;
    height: 82vw;
    margin: 0 auto;
    padding-top: 5vw;
}

.s2a-device-popup-contant__name {
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.s2a-device-popup-contant__img {
    width: 32vw;
    height: 32vw;
    object-fit: contain;
    margin-top: 2vw;
}

.s2a-device-popup-contant__character {
    display: flex;
    margin-top: 3vw;
    align-items: center;
}

.s2a-device-popup-contant__price {
    display: flex;
    align-items: center;
    font-size: 8vw;
    font-weight: 500;
}

.s2a-device-popup-contant__symb {
    font-size: 3.5vw;
    margin-right: 0.4vw;
}

.s2a-device-popup-contant__leaf {
    background: url('../img/white-leaf-1.svg') no-repeat center center/contain;
    width: 13vw;
    height: 13vw;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 5.6vw;
    padding-top: 0.7vw;
    padding-left: 0.8vw;
}

.s2a-device-popup-contant__circle {
    background: #fff;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5vw;
    padding-top: 0.3vw;
}

.s2a-device-popup-contant__btn-wrapper {
    display: flex;
    margin-top: 3vw;
}

.s2a-device-popup-white-btn {
    text-transform: uppercase;
    background: #fff;
    color: #318523;
    border-radius: 20vw;
    width: 23.5vw;
    height: 8.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
}

.s2a-device-popup-white-btn_no-bg {
    background: none;
    border: 0.6vw solid #fff;
    color: #fff;
    margin-right: 2.2vw;
}

.s2a-device-cap-bot-team_vet {
    margin-top: 4.5vw;
}

.s2a-device-cap-bot-team {
    margin-top: 3.1vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-popup-contant__inner_height {
        height: 98vw;
    }

    .s2a-device-popup-contant {
        height: 98vw;
    }

    .s2a-device-popup-contant__img {
        width: 44vw;
        height: 45vw;
        object-fit: contain;
        margin-top: 2vw;
    }

    .s2a-device-cap-bot-team_vet {
        margin-top: 12.5vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-popup-contant__img {

        height: 31vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-cap-header__title-wrapper_vet {
        padding-left: 0vw;
        margin-left: 10vw;
    }

    .s2a-device-popup-contant {
        height: 57vw;
    }

    .s2a-device-popup-contant__inner {
        height: 57vw;
        padding-top: 2vw;
    }

    .s2a-device-popup-contant__name {
        font-size: 6vw;
    }

    .s2a-device-popup-contant__img {
        width: 18vw;
        margin-top: 2vw;
        height: 18vw;
    }

    .s2a-device-popup-contant__character {
        margin-top: 2vw;
    }

    .s2a-device-popup-contant__btn-wrapper {
        margin-top: 2vw;
    }

    .s2a-device-cap-bot-team_vet {
        margin-top: 3vw;
    }

    .s2a-device-cap-bot-team {
        margin-top: 2vw;
    }

}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-popup-contant {
        height: 78vw;
    }

    .s2a-device-popup-contant__inner {
        height: 78vw;
        padding-top: 3vw;
    }

    .s2a-device-cap-bot-team_vet {
        margin-top: 5.5vw;
    }
    
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-popup-contant__img {
        width: 37vw;
        height: 37vw;
    }
}

/* MARS-v2-s2a-device-veteng */
.s2a-device-cap-header-veteng-title {
    display: flex;
    margin: 0 auto;
    font-size: 5.4vw;
    align-items: center;
}

.s2a-device-cap-header__title-one_size {
    font-size: 5.4vw;
}

.veteng__title-one_bg {
    height: 12vw;
    background: #6C0000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 2vw;
}

.s2a-device-cap-header-veteng-title__item {
    text-transform: uppercase;
    font-weight: 700;
}

.s2a-device-slider {
    position: relative;
    height: 100%;
}

.s2a-device-slider__animal {
    height: 24vw;
    border-radius: 2vw;
    background: rgba(152, 226, 140, 0.52);
    box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 50%);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding-top: 4vw;
    padding-left: 5vw;
    position: relative;
}

.s2a-device-slider__animal:not(:last-child) {
    margin-bottom: 2vw;
}

.s2a-device-slider__animal-name {
    font-size: 6.7vw;
    line-height: 1em;
    font-weight: 500;
}

.s2a-device-slider__animal-price {
    display: flex;
    width: 37vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    position: relative;
}

.s2a-device-slider__total {
    font-size: 6vw;
    display: flex;
    align-items: center;
}

.s2a-device-slider__sym {
    margin-right: 2vw;
    font-size: 3.5vw;
}

.s2a-device-slider__animal-img {
    position: absolute;
    top: 4vw;
    right: 3vw;
}

.s2a-device-slider__animal-img-relative {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    /* border: 1px solid #E1ECEF; */
    position: relative;
}

.s2a-device-slider__animal-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s2a-device-slider__frame {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.35vw solid #E1ECEF;
    position: absolute;
}

.s2a-device-slider__circle {
    position: absolute;
    top: -1vw;
    right: 0;
    background: #fff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5vw;
    padding-top: 0vw;
    z-index: 2;
}

.s2a-device-slider__leaf {
    position: absolute;
    bottom: -1vw;
    right: -5vw;
    background: url('../img/white-leaf-1.svg') no-repeat center center/contain;
    width: 9vw;
    height: 9vw;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 0.55vw;
    padding-left: 0.8vw;
    z-index: 2;
}

.s2a-device-slider__btn-left {
    position: absolute;
    left: -12vw;
    width: 8vw;
    top: 30vw;
}

.s2a-device-slider__btn-right {
    position: absolute;
    right: -12vw;
    width: 8vw;
    top: 30vw;
}

.s2a-device-slider__img {
    width: 100%;
    /* height: auto; */
    object-fit: contain;
}

.s2a-device-slider__pag {
    display: flex;
    width: 9vw;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4vw;
}

.s2a-device-slider__pag-item {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: block;
    background: #C4C4C4;
    opacity: .5;
}

.s2a-device-slider__pag-item_active {
    background: #fff !important;
    opacity: 1 !important;
}

.s2a-device-cap-bot-team_veteng {
    margin-top: 6.6vw;
}

.s2a-device-cap-mission__btn-none_shadow {
    filter: none;
}

.cap-mission__img-inner_grey {
    background: #A9BCAF;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s2a-device-cap-bot-team_veteng {
        margin-top: 24.6vw;
    }

    .s2a-device-slider__btn-right,
    .s2a-device-slider__btn-left {
        top: 38vw;
    }

    .s2a-device-slider__animal {
        height: 29vw;
    }

    .s2a-device-slider__animal-price {
        margin-top: 4vw;
    }

    .s2a-device-slider__animal-img {
        top: 6vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-slider__animal-price {
        margin-top: 1vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 

    .veteng__title-one_bg {
        height: 9vw;
    }

    .s2a-device-slider__animal {
        height: 16vw;
        padding-top: 2vw;
        padding-left: 4vw;
    }

    .s2a-device-slider__animal-name {
        font-size: 4.7vw;
    }

    .s2a-device-slider__total {
        font-size: 5vw;
    }

    .s2a-device-popup-white-btn {
        height: 6.4vw;
    }

    .s2a-device-slider__animal-price {
        margin-top: 1vw;
    }

    .s2a-device-slider__animal-img-relative {
        width: 13vw;
        height: 13vw;
    }

    .s2a-device-slider__animal-img {
        top: 1.5vw;
    }

    .s2a-device-slider__circle {
        width: 5vw;
        height: 5vw;
        font-size: 2.5vw;
    }

    .s2a-device-slider__leaf {
        width: 7vw;
        height: 7vw;
        font-size: 2.8vw;
    }

    .s2a-device-slider__btn-right,
    .s2a-device-slider__btn-left {
        top: 18vw;
    }

    .s2a-device-slider__pag {
        margin-top: 2vw;
    }

    .s2a-device-cap-bot-team_veteng {
        margin-top: 2vw;
    }

    .s2a-device-cap-mission__barrel-txt {
        top: 5vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-cap-bot-team_veteng {
        margin-top: 7.6vw;
    }

    .s2a-device-slider__animal {
        height: 22vw;
        padding-top: 3vw;
    }

    .s2a-device-slider__animal-img {
        top: 2.8vw;
    }

    .s2a-device-slider__btn-right, .s2a-device-slider__btn-left {
        top: 28vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-slider__animal {
        height: 23.2vw;
        padding-top: 5vw;
    }

    .s2a-device-slider__animal-price {
        margin-top: 2vw;
    }

    .s2a-device-slider__animal-img-relative {
        width: 15vw;
        height: 15vw;
    }

    .s2a-device-slider__animal-img {
        top: 4vw;
    }

    .s2a-device-slider__circle {
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }

    .s2a-device-slider__leaf {
        width: 8vw;
        height: 8vw;
        font-size: 3vw;
    }

    .s2a-device-slider__btn-right, .s2a-device-slider__btn-left {
        top: 29vw;
    }
}

/* MARS-v2-s2a-device-pil-popup */
.s2a-device-cap-pil {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: url('../img/MARS-v2-s2a-device-pil-popup_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header__team_blue,
.s2a-device-cap-header__question_blue {
    background: rgba(5, 88, 115, 0.46);
}

.s2a-device-popup-contant__inner_blue {
    background: rgba(31, 199, 252, 0.52);
    height: 100%;
}

.s2a-device-popup-contant__name_blue {
    font-size: 7vw;
}

.s2a-device-cap-header__title-wrapper_pill {
    margin: 0 auto;
}

.s2a-device-popup-contant__leaf_drop {
    background: url('../img/white-drop.svg') no-repeat center center/contain;
    width: 9vw;
    padding-top: 3vw;
    padding-right: 0.5vw;
    color: #0E6EA7;
}

.pill-txt-color {
    color: #0E6EA7;
}

/* MARS-v2-s2a-device-pilcap */
.s2a-device-cap-header-veteng-title_font {
    font-size: 8vw;
}

/* .s2a-device-cap-header-veteng-title__item_bg-pil {
    width: 37vw;
    height: 12vw;
    background: #735105;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-right: 2vw;
} */

.veteng__title-one_bg-brown {
    height: 12vw;
    background: #735105;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 2vw;
}

.s2a-device-slider__animal_blue {
    background: rgba(31, 199, 252, 0.44);
}

.s2a-device-slider__icon-arrow {
    position: absolute;
    width: 2.5vw;
    /* height: auto; */
    object-fit: contain;
    left: -3vw;
}

.s2a-device-slider__rocket-img-relative {
    width: 17vw;
    height: 22vw;
    border-radius: 50%;
    position: relative;
}

.s2a-device-slider__rocket-img {
    position: absolute;
    top: 2vw;
    right: 3vw;
}

.s2a-device-slider__circle-blue{
    position: absolute;
    top: 2vw;
    right: 0;
    background: #fff;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    color: #136EA2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.5vw;
    padding-top: 0vw;
}

.s2a-device-slider__drop {
    position: absolute;
    bottom: 3vw;
    right: -4vw;
    background: url(../img/white-drop.svg) no-repeat center center/contain;
    width: 7vw;
    height: 8vw;
    color: #136EA2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6vw 0 2vw;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 1.55vw;
}

@media (min-width: 359px) and (min-height: 779px) {
    .s2a-device-slider__rocket-img {
        top: 5vw;
    }

    .s2a-device-slider__rocket-img-relative {
        width: 17vw;
        height: 24vw;
        border-radius: 50%;
        position: relative;
    }
}

@media (min-width: 767px) and (min-height: 1023px) {
    .veteng__title-one_bg-brown {
        height: 9vw;
    }

    .s2a-device-slider__rocket-img {
        top: 2vw;
    }

    .s2a-device-slider__rocket-img-relative {
        height: 14vw;
    }

    .s2a-device-slider__circle-blue {
        top: -1vw;
    }

    .s2a-device-slider__drop {
        bottom: 1vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-slider__rocket-img-relative {
        height: 20vw;
    }

    .s2a-device-slider__rocket-img {
        top: 2vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-slider__rocket-img {
        top: 3.2vw;
    }
}

/* MARS-v2-s2a-device-engvet */
.s2a-device-engvet {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: url('../img/MARS-v2-s2a-device-engvet_bg.png') no-repeat center center/cover;
}

.s2a-device-cap-header__team_red {
    background: rgba(108, 0, 0, 0.67);
}

.veteng__title-one_engvet {
    background: rgba(29, 85, 20, 0.77);
}

.s2a-device-cap-header-veteng-title__item_bg-engvet {
    width: 19vw;
    height: 12vw;
    background: rgba(29, 85, 20, 0.77);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    margin-right: 2vw;
}

.s2a-device-popup-contant_width {
    width: 92%;
}

.s2a-device-popup-barrel {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.s2a-device-popup-barrel__item {
    background: rgba(211, 93, 93, 0.52);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 39vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82vw;
    border-radius: 3vw;
    height: 100%;
}

.s2a-device-popup-barrel__title {
    text-align: center;
    margin-top: 4vw;
    font-size: 6vw;
    letter-spacing: 0.08em;
    margin-bottom: 2vw;
}

.s2a-device-popup-barrel__block {
    display: block;
}

.s2a-device-popup-barrel__img-inner {
    width: 31vw;
    position: relative;
}

.s2a-device-popup-barrel__barrel-txt {
    position: absolute;
    left: 0;
    margin: 0 auto;
    text-align: center;
    right: 0;
    top: 16vw;
    font-weight: 700;
    font-size: 9vw;
}

.s2a-device-popup-barrel__img {
    width: 100%;
    object-fit: contain;
}

.s2a-device-popup-barrel__progrees-wrapper {
    height: 28.8vw;
    position: absolute;
    bottom: 5.5vw;
    width: 5vw;
    left: 2.2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
}

.s2a-device-popup-barrel__progrees {
    height: 20%;
    width: 100%;
    background: #3C0803;
}

.s2a-device-popup-barrel__btn {
    background: #fff;
    color: #853535;
    margin-top: 1.8vw;
    width: 28vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25vw;
    font-size: 4.4vw;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
}

.s2a-device-popup-barrel__sym {
    font-size: 3.2vw;
    letter-spacing: 400;
    margin-left: 1vw;
}

.s2a-device-popup-barrel__drop {
    background: url('../img/brown-drop_2.svg') no-repeat center center/contain;
    width: 7vw;
    height: 8vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.8vw;
    padding-top: 1.55vw;
    margin-top: -2vw;
    margin-left: 1vw;
}

.s2a-device-popup-barrel__txt {
    font-size: 3vw;
    margin-top: 3vw;
}

@media (min-width: 359px) and (min-height: 779px) {
    .s2a-device-popup-barrel__title {
        text-align: center;
        margin-top: 5vw;
        font-size: 6vw;
        letter-spacing: 0.08em;
        margin-bottom: 4vw;
    }

    .s2a-device-popup-barrel__btn {
        margin-top: 8.8vw;
    }

    .s2a-device-popup-barrel__txt {
        margin-top: 5vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s2a-device-popup-barrel__title {
        margin-top: 3vw;
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .s2a-device-popup-barrel__item {
        height: 56vw;
    }

    .s2a-device-popup-barrel__barrel-txt {
        top: 9vw;
        font-size: 4vw;
    }

    .s2a-device-popup-barrel__img-inner {
        width: 16vw;
    }

    .s2a-device-popup-barrel__progrees-wrapper {
        height: 14.8vw;
        bottom: 2.88vw;
        width: 2vw;
        left: 1.2vw;
    }

    .s2a-device-popup-barrel__btn {
        height: 8vw;
        font-size: 3.4vw;
    }

    .s2a-device-popup-barrel__drop {
        width: 6vw;
        height: 7vw;
        font-size: 3.8vw;
        padding-top: 1.15vw;
        margin-top: -1vw;
    }

    .s2a-device-popup-barrel__txt {
        margin-top: 2vw;
    }

    .s2a-device-popup-barrel__btn {
        margin-top: 3.8vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s2a-device-popup-barrel__item {
        height: 78vw;
    }

    .s2a-device-popup-barrel__img-inner {
        width: 29vw;
    }

    .s2a-device-popup-barrel__progrees-wrapper {
        height: 26.6vw;
        bottom: 4.9vw;
    }

    .s2a-device-popup-barrel__barrel-txt {
        top: 15vw;
    }

    .s2a-device-popup-barrel__title {
        margin-top: 3vw;
        margin-bottom: 1vw;
    }

    .s2a-device-popup-barrel__btn {
        margin-top: 2.8vw;
    }

    .s2a-device-popup-barrel__txt {
        margin-top: 3vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-popup-barrel__title {
        margin-bottom: 3vw;
    }

    .s2a-device-popup-barrel__barrel-txt {
        font-size: 6vw;
        top: 16.5vw;
    }

    .s2a-device-popup-barrel__btn {
        margin-top: 4.8vw;
    }

    .s2a-device-popup-barrel__progrees-wrapper {
        height: 27vw;
        bottom: 4.5vw;
        width: 5vw;
        left: 2.2vw;

    }
}

/* MARS-v2-s2b-device */
.sn-device_bg {
    background: url('../img/sn-device_bg.jpg') no-repeat center center/cover;
}

.sn-device {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(71, 31, 10, 0.69);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.sn-device-cap-header {
    display: flex;
    align-items: center;
    padding: 5vw 2.35vw 0 0;
    position: relative;
}

.sn-device-cap-header__team {
    font-size: 4.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 13vw;
    background: rgba(108, 0, 0, 0.67);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 700;
    border-radius: 0 3vw 5vw 0;
}

.sn-device-cap-header__question {
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(108, 0, 0, 0.67);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 50%;
    font-weight: 500;
    font-size: 5.5vw;
    margin-left: auto;
}

.sn-device-close {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 7vw;
}

.sn-device-close__score {
    font-weight: 100;
    font-size: 9vw;
    line-height: 0.8em;
    margin-bottom: 1.3vw;
    text-align: center;
}

.sn-device-close__desc {
    font-size: 2.8vw;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}

.s2b-device__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 6vw;
    width: 60vw;
    margin: 0 auto;
    margin-top: 7vw;
}

.s2b-device__desc {
    text-align: center;
    font-size: 5.7vw;
    letter-spacing: 0.08em;
    margin-top: 1vw;
}

.s2b-device-list {
    margin-top: 4vw;
}

.s2b-device-list__item {
    display: flex;
    align-items: center;
    width: 86.2vw;
    height: 10.2vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    padding: 0 4.4vw 0 4.7vw;
    margin: 0 auto;
    font-size: 5.2vw;
}

.s2b-device-list__item:not(:last-child) {
    margin-bottom: 0.7vw;
}

.s2b-device-list__time {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vw;
    width: 10vw;
}

.s2b-device-list__number {
    font-size: 4.4vw;
    font-weight: 500;
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
    margin-right: 3.2vw;
}

.s2b-device-list__medal {
    margin-left: auto;
    background: url('../img/leaf-medal-1.svg') no-repeat center center/contain;
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    color: #563E00;
    font-weight: 700;
    font-size: 4vw;
    padding-left: 1vw;
}




@media (min-width: 767px) and (min-height: 1023px) {
    .sn-device-cap-header {
        padding: 2vw 2.35vw 0 0;
    }

    .sn-device-cap-header__question {
        width: 8vw;
        height: 8vw;
        font-size: 4.5vw;
    }

    .sn-device-close {
        top: 4vw;
    }

    .s2b-device__title {
        margin-top: 6vw;
    }

    .s2b-device__desc {
        font-size: 4.7vw;
    }

    .s2b-device-list__item {
        height: 7.2vw;
        font-size: 4.2vw;
    }

    .s2b-device-list__number {
        font-size: 3.4vw;
        width: 5vw;
        height: 5vw;
    }

    .s2b-device-list__medal {
        width: 6vw;
        height: 5vw;
        font-size: 3vw;
    }
}

/* MARS-v2-s3-device-success */
.s3-device-success-green {
    background: rgba(83, 193, 27, 0.52);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 82vw;
    margin: 0 auto;
    margin-top: 54vw;
    height: 35vw;
    border-radius: 3vw;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 0.08em;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    line-height: 148%;
}

.s3-device-success-desc {
    text-align: center;
    font-size: 4.2vw;
    letter-spacing: 0.08em;
    margin-top: 26vw;
    margin-bottom: 4vw;
}

.s3-device-success-logo {
    margin: 0 auto;
    width: 52vw;
    display: block;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s3-device-success-green {
        margin-top: 74vw;
    }

    .s3-device-success-desc {
        margin-top: 40vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s3-device-success-green {
        margin-top: 34vw;
    }

    .s3-device-success-desc {
        margin-top: 20vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s3-device-success-green {
        margin-top: 52vw;
    }
    
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s2a-device-popup-contant__img {
        width: 37vw;
        height: 37vw;
    }
}

/* MARS-v2-s4-device */
.s2b-device__title-team {
    text-align: center;
    text-transform: uppercase;
    font-size: 8.2vw;
    width: 100%;
    margin: 0 auto;
    margin-top: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s2b-device__title__number {
    font-size: 6vw;
    font-weight: 500;
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #F41C45;
    border-radius: 50%;
    border: 0.15vw solid #fff;
    margin-right: 3.2vw;
}

.s4-device-img-item {
    width: 53vw;
    margin: 0 auto;
    display: block;
    margin-top: 10vw;
    height: 49vw;
    object-fit: contain;
}

.s4-device-leaf {
    width: 33vw;
    height: 33vw;
    background: url('../img/MARS-v2-s4-central-card1-gold_leaf.svg') no-repeat center center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.5vw;
    font-weight: 700;
    padding-top: 1.2vw;
    margin: 0 auto;
    margin-top: 9vw;
}

.s2b-device__digit-place {
    text-align: center;
    font-size: 5.6vw;
    margin-top: 1.6vw;
}

.s4-device-express {
    display: flex;
    width: 100%;
    height: 15vw;
    background: #fff;
    border-radius: 20vw;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 4vw;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw 0 9vw;
    margin-top: 3vw;
}

.s4-device-express__smile-inner {
    display: flex;
}

.s4-device-express__smile-img {
    width: 10vw;
    height: 10vw;
    object-fit: contain;
}

.s4-device-express__smile-img:not(:last-of-type) {
    margin-right: 5vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s4-device-img-item {
        margin-top: 42vw;
    }
    
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s4-device-img-item {
        width: 34vw;
        margin: 0 auto;
        display: block;
        margin-top: 6vw;
        height: 31vw;
        object-fit: contain;
    }

    .s4-device-leaf {
        width: 24vw;
        height: 24vw;
        font-size: 8.5vw;
        margin-top: 0vw;
    }

    .s4-device-express {
        margin-top: 3vw;
    }
    
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s4-device-img-item {
        margin-top: 10vw;
    }
    
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s4-device-img-item {
        width: 57vw;
        margin: 0 auto;
        display: block;
        margin-top: 6vw;
        height: 58vw;
        object-fit: contain;
    }
    
}

/* MARS-v2-s4-device-GUIDE */
.s4-device-failed {
    font-size: 7.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 22vw;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #fff;
    margin-top: 37vw;
    margin-bottom: 52vw;
}

.s4-device-failed {
    font-size: 7.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 22vw;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #fff;
    margin-top: 37vw;
    margin-bottom: 43.4vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .s4-device-failed {
        margin-top: 58vw;
        margin-bottom: 55vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s4-device-failed {
        margin-top: 20vw;
        margin-bottom: 20.5vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s4-device-failed {
        margin-top: 37vw;
        margin-bottom: 43.5vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s4-device-failed {
        margin-top: 30vw;
        margin-bottom: 37.6vw;
    }
}



/* MARS-v2-s5-device */
.s5-device-animal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 6vw;
    height: 47vw;
}

.s5-device-animal__item {
    width: 21vw;
    height: 21vw;
    position: relative;
}

.s5-device-animal__frame {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #E1ECEF;
    position: absolute;
}

.s5-device-animal__item-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.s4-device-leaf_s5 {
    margin-top: 5vw;
    margin-bottom: 7vw;
}

.s5-device-leaf {
    margin-top: 2vw;
}

.s5-device__digit-place {
    text-align: center;
    font-size: 5.6vw;
}

.s2b-device-list__item_width {
    display: flex;
    align-items: center;
    width: 65.2vw;
    height: 10.2vw;
    border-radius: 20vw;
    background: rgba(225, 236, 239, 0.18);
    padding: 0 3vw 0 1.7vw;
    margin: 0 auto;
    font-size: 5.2vw;
}

.s2b-device-list__leaf {
    width: 9vw;
    height: 9vw;
    background: url('../img/MARS-v2-s4-central-card1-gold_leaf.svg') no-repeat center center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    font-weight: 700;
    padding-top: 0.19vw;
    margin-left: auto;
}

@media (min-width: 359px) and (min-height: 779px) { 
    .s5-device-leaf {
        margin-top: 16vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s5-device-animal__item {
        width: 12vw;
        height: 12vw;
    }

    .s5-device-animal {
        width: 94%;
        height: 13vw;
    }

    .s5-device-leaf {
        margin-top: 2vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .s5-device-leaf {
        margin-top: 2vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .s5-device-leaf {
        margin-top: 8vw;
    }
}

/* MARS-v2-s5-device-GUIDE2 */
.s5-device-animal__no-animal_space {
    align-content: center;
}

.s5-device-animal__no-animal {
    text-align: center;
    text-transform: uppercase;
    width: 41vw;
    border: 0.4vw solid #fff;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.4vw;
    letter-spacing: 0.08em;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .s5-device-animal__no-animal {
        height: 15vw;
        font-size: 4.4vw;
    }
}

/* MARS-v2-team */
.v2-team-bg-bg-img {
    background: url('../img/MARS-v2-s0-device_bg.jpg') no-repeat center center/cover;
}

.v2-team-bg {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(81, 81, 81, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.sn-device-cap-header__link {
    display: flex;
    width: 27vw;
    height: 12vw;
    background: #fff;
    color: #000;
    letter-spacing: 0.08em;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    border-radius: 20vw;
    margin-left: 5vw;
}

.sn-device-cap-header__player { 
    text-align: right;
    margin-left: auto;
    font-weight: 500;
    font-size: 5vw;
    margin-right: 7vw;
}

.v2-team-content {
    padding-top: 4vw;
}

.v2-team-content-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v2-team-content-list__line {
    width: 15vw;
    height: 0.2vw;
    background: #fff;
    margin-bottom: 4vw;
}

.v2-team-content-list__player {
    text-align: center;
    font-size: 5.2vw;
    letter-spacing: 0.08em;
    margin-bottom: 1.75vw;
}

.v2-team-leaf {
    width: 33vw;
    height: 33vw;
    background: url('../img/MARS-v2-s4-central-card1-gold_leaf.svg') no-repeat center center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12.5vw;
    font-weight: 700;
    padding-top: 2.2vw;
    margin: 0 auto;
    margin-top: 9vw;
}

.v2-team-text {
    text-align: center;
    font-size: 4.7vw;
    letter-spacing: 0.08em;
    margin-top: 1vw;
}

.v2-team-btns {
    margin-top: 13vw;
}

.v2-team-btns__btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62vw;
    height: 12vw;
    background: #fff;
    color: #000;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 5vw;
    border-radius: 20vw;
}

.v2-team-btns__btn:last-child {
    background: #BB2323;
    color: #fff;
    margin-top: 2vw;
}

@media (min-width: 359px) and (min-height: 700px) { 
    .v2-team-content {
        padding-top: 11vw;
    }

    .v2-team-leaf {
        margin-top: 17vw;
    }

    .v2-team-btns {
        margin-top: 40vw;
    }
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-team-content {
        padding-top: 3vw;
    }

    .v2-team-content-list__player {
        font-size: 4.2vw;
        margin-bottom: 0.75vw;
    }

    .v2-team-leaf {
        margin-top: 1vw;
        width: 26vw;
        height: 26vw;
        font-size: 9.5vw;
    }

    .v2-team-text {
        font-size: 3.7vw;
    }

    .v2-team-btns {
        margin-top: 5vw;
    }
}

@media (min-width: 719px) and (min-height: 1279px) { 
    .v2-team-leaf {
        margin-top: 9vw;
    }

    .v2-team-btns {
        margin-top: 11vw;
    }
}

/* MARS-v2-team-popup */
.v2-team-bg_flex {
    display: flex;
    align-items: center;
}

.v2-team-popup__title {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    width: 50vw;
    font-size: 9vw;
    letter-spacing: 0.08em;
    font-weight: 700;
}

.v2-team-popup__txt {
    text-align: center;
    font-size: 6.5vw;
    letter-spacing: 0.08em;
    font-weight: 700;
    margin-top: 4vw;
}

.v2-team-btns_margin {
    margin-top: 9vw;
}


@media (min-width: 359px) and (min-height: 700px) { 
    .v2-team-btns_margin {
        margin-top: 13vw;
    }
}

/* MARS-v2-help */
.MARS-v2-help {
    background: url('../img/MARS-v2-s0-device_bg.jpg') no-repeat center center/cover;
}

.MARS-v2-help-inner {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(81, 81, 81, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.v2-help-contant {
    text-align: center;
    padding-top: 7vw;
    height: 135vw;
}

.v2-help-contant__title {
    font-size: 7.5vw;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin-bottom: 5vw;
}

.v2-help-contant__title-line {
    width: 15vw;
    height: 0.4vw;
    background: #fff;
    margin: 0 auto;
    margin-top: 6.4vw;
}

.v2-help-contant__txt {
    font-size: 5vw;
    letter-spacing: 0.08em;
    width: 68vw;
    margin: 0 auto;
    line-height: 158%;
}

.v2-help-contant__txt:not(:last-of-type) {
    margin-bottom: 8vw;
}

.v2-help-contant__img-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
    margin-top: 2vw;
}

.v2-help-contant__img-item {
    width: 18vw;
}

.v2-help-buttons {
    margin-top: 5vw;
    height: 37vw;
}

.v2-help-buttons-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #3C3E3E;
    width: 61vw;
    margin: 0 auto;
    border-radius: 20vw;
    height: 12vw;
    font-weight: 700;
    font-size: 6vw;
}

.v2-help-buttons-item:last-child {
    background: none;
    border: 0.7vw solid #fff;
    margin-top: 2.2vw;
    color: #fff;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* height: auto; */
}

@media (min-width: 359px) and (min-height: 779px) { 
    .v2-help-contant {
        height: 155vw;
    }

    .v2-help-contant__title {
        margin-bottom: 24vw;
    }
    
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-help-contant {
        height: 135vw;
    }

    .v2-help-contant__title {
        margin-bottom: 5vw;
    }

    .v2-help-contant__txt {
        font-size: 3.5vw;
    }

    .v2-help-contant__txt:not(:last-of-type) {
        margin-bottom: 4vw;
    }

    .v2-help-contant__img-wrapper {
        margin-top: 3vw;
    }
    
    .v2-help-buttons {
        margin-top: 5vw;
        height: 40vw;
    }

    .v2-help-buttons-item {
        height: 10vw;
    }

}

@media (min-width: 719px) and (min-height: 1279px) { 
    .v2-help-contant {
        height: 131vw;
    }

    .v2-help-contant__title {
        margin-bottom: 5vw;
    }

    .v2-help-contant__txt:not(:last-of-type) {
        margin-bottom: 4vw;
    }

    .v2-help-contant__img-wrapper {
        margin-top: 4vw;
    }
}

@media (min-width: 799px) and (min-height: 1279px) { 
    .v2-help-contant__title_margin-800 {
        margin-bottom: 17vw;
    }
}

/* MARS-v2-help-cap */
.MARS-v2-help-cap {
    background: url('../img/help-cap_bg-2.jpg') no-repeat center center/cover;
}

.MARS-v2-help-cap-inner {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(178, 149, 83, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.v2-help-contant__txt-cap {
    font-size: 5vw;
    letter-spacing: 0.08em;
    width: 68vw;
    margin: 0 auto;
    line-height: 158%;
}

.v2-help-contant__txt-cap_margin {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.v2-help-contant__dollar {
    font-size: 13vw;
    color: #6DE62F;
    text-shadow: 0px 0px 7px #6de62f;
    margin-top: 2vw;
    display: block;
}

.v2-help-contant__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #53C11B;
    color: #fff;
    width: 37vw;
    margin: 0 auto;
    border-radius: 20vw;
    height: 9vw;
    font-weight: 700;
    letter-spacing: 0.08em;
    font-size: 4.5vw;
    box-shadow: 0px 0px 10px #53c11b;
    text-shadow: 0px 0px 5px #ffffff;
}

.v2-help-contant__btn_red {
    background: #BB2323;
    box-shadow: 0px 0px 10px #BB2323;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-help-contant__txt-cap  {
        font-size: 3.5vw;
    }

    .v2-help-contant__dollar {
        font-size: 9vw;
    }

}

/* MARS-v2-help-vet */
.MARS-v2-help-vet {
    background: url('../img/MARS-v2-help-vet.jpg') no-repeat center center/cover;
}

.MARS-v2-help-vet-inner {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(56, 150, 30, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.v2-help-contant__image {
    margin: 0 auto;
    width: 20vw;
    height: 20vw;
    object-fit: contain;
}

.v2-help-contant__txt-cap_vet {
    width: 81vw;
}

.v2-help-contant__leaf {
    width: 16vw;
    height: 16vw;
    background: url('../img/white-leaf-1.png') no-repeat center center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.5vw;
    font-weight: 700;
    padding-top: 2.2vw;
    margin: 0 auto;
}

.v2-help-contant__circle {
    background: #fff;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    color: #318523;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7vw;
    padding-top: 0.3vw;
    margin: 0 auto;
    margin-top: 4vw;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-help-contant__circle {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
        margin-top: 1vw;
    }

    .v2-help-contant__image {
        width: 16vw;
        height: 14vw;
    }

    .v2-help-contant__leaf {
        width: 13vw;
        height: 13vw;
        font-size: 5.5vw;
        padding-top: 1.2vw;
    }
}

/* MARS-v2-help-pil */
.MARS-v2-help-pil {
    background: url('../img/MARS-v2-help-pil__bg.png') no-repeat center center/cover;
}

.MARS-v2-help-pil-inner {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(47, 126, 188, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.v2-help-contant__circle_blue {
    color: #0E6EA7;
}

.v2-help-contant__drop {
    background: url('../img/white-drop.svg') no-repeat center center/contain;
    padding-top: 3vw;
    padding-right: 0.5vw;
    color: #0E6EA7;
    width: 13vw;
    height: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 5.6vw;
    padding-top: 2.7vw;
    padding-left: 0.8vw;
    margin: 0 auto;
}

/* MARS-v2-help-eng */
.MARS-v2-help-eng {
    background: url('../img/MARS-v2-help-eng__bg.png') no-repeat center center/cover;
}

.MARS-v2-help-eng-inner {
    width: 100%;
    height: 100vh;
    /* height: auto; */
    background: rgba(178, 38, 18, 0.52);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.v2-help-contant__fuel {
    /* background: url('../img/barrel__11.svg') no-repeat center center/contain; */
    height: 15vw;
    position: relative;
    width: 14vw;
    margin: 0 auto;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.v2-help-contant__img-barr {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.v2-help-contant__progress-inner {
    position: absolute;
    width: 3vw;
    height: 11.7vw;
    left: 1.5vw;
    bottom: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.v2-help-contant__progress-item {
    width: 100%;
    height: 20%;
    background: #3C0803;
    z-index: -1;
}

.v2-help-contant__drop_red {
    color: #B24C0F;
}

.v2-help-contant__fuel-number {
    position: absolute;
    top: 5.4vw;
    font-size: 5vw;
    left: 4vw;
    z-index: 3;
}

@media (min-width: 767px) and (min-height: 1023px) { 
    .v2-help-contant__fuel {
        height: 12vw;
    }

    .v2-help-contant__progress-inner {
        left: 2.8vw;
    }

    .v2-help-contant__fuel-number {
        position: absolute;
        top: 4.4vw;
        font-size: 4vw;
        left: 4.7vw;
    }
}







/* library */
.item_no-bg {
    background: none;
}

.bg-red {
    background: #F41C45;
}

.bg-dark-blue {
    background: #2662FC;
}

.bg-green {
    background: #008A80;
}

.bg-yellow {
    background: #FD9F08;
}

.bg-dark-purple {
    background: #44217C;
}

.bg-light-green {
    background: #4CAF52;
}

.bg-orange {
    background: #FD4E04;
}

.bg-blue {
    background: #00B2FE;
}

.bg-dark-red {
    background: #B20944;
}

.bg-purple {
    background: #706FB5;
}